    <div class="row-fluid">
        <div class="clearfix support-page page-view">
            <h4>My Profile</h4>

            <h5>Personal Information</h5>
            <p>You may edit your user profile details and/or change your password below. Fields marked with an asterisk (<span class="req">*</span>) are required.</p>

            <div id="user-profile-container" class="form-horizontal well">
                <div class="control-group">
                    <label class="control-label">First Name<span class="req">*</span></label>
                    <div class="controls">
                        <input type="text" class="span11" name="firstName" value="{{= sessionUser.firstName }}" placeholder="First Name">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Last Name<span class="req">*</span></label>
                    <div class="controls">
                        <input type="text" class="span11" name="lastName" value="{{= sessionUser.lastName }}" placeholder="Last Name">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Email Address</label>
                    <div class="controls">
                        <input type="text" class="span11" name="userName" disabled="disabled" value="{{= sessionUser.email }}" placeholder="Email Address">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Company Name<span class="req">*</span></label>
                    <div class="controls">
                        <input type="text" class="span11" name="companyName" value="{{= sessionUser.company }}" placeholder="Company Name">
                    </div>
                </div>
                <div class="password-inputs">
                    <div class="control-group">
                        <label class="control-label">Current Password</label>
                        <div class="controls">
                            <input type="password" class="span11" name="oldpassword" placeholder="Current Password">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">New Password</label>
                        <div class="controls">
                            <input type="password" class="span11" name="newpassword" placeholder="New Password">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Re-type Password</label>
                        <div class="controls">
                            <input type="password" class="span11" name="newpassword2" placeholder="Re-type Password">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"></label>
                    <div class="controls">
                        <button type="button" id="profile-save" class="btn btn-primary">Save Changes</button>
                    </div>
                </div>
            </div>

            <h5>Token Management</h5>
            <p>Magnet Tokens are used to authenticate your cloud runtime. They should not be shared with anyone.
                The keys can be revoked and/or regenerated in the event that they have been compromised. </p>
            <div id="token-management-container" class="form-horizontal">
            </div>


        </div>
    </div>


    <script id="TokenListItem" type="text/template">
        [% if(tokens && tokens !== [] && tokens.length > 0){ %]
            [% for(var i in tokens){ %]
        <div did="[%=tokens[i].magnetId%]" class="well">
            <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                    <strong>[%=tokens[i].name%]</strong>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Access Id</label>
                <div class="controls">
                    [% if(tokens[i].enabled === true){ %]
                    <input type="text" class="span11" name="accessId" readonly="readonly" value="[%=tokens[i].accessKeyId%]">
                    [% }else{ %]
                    <b class="redtxtsm">Your Access Id has been revoked.</b>
                    [% } %]
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Secret Key</label>
                <div class="controls">
                    [% if(tokens[i].enabled === true){ %]
                    <input type="text" class="span11" name="secretKey" readonly="readonly" value="[%=tokens[i].secretAccessKey%]">
                    [% }else{ %]
                    <b class="redtxtsm">Your Secret Key has been revoked.</b>
                    [% } %]
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                    <button did="regenerate" class="btn btn-primary">Regenerate Keys</button>
                    [% if(tokens[i].enabled === true){ %]<button did="revoke" class="btn btn-primary">Revoke</button>[% } %]
                </div>
            </div>
        </div>
        [% } %]
        [% }else{ %]
            You have no tokens available.
        [% } %]
    </script>
