<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js fuelux" lang="en"> <!--<![endif]-->
<head>
    <title>Magnet Messaging Admin : {{=title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/admin/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/admin/images/apple-touch-icon.png">
    <link rel="stylesheet" href="/admin/stylesheets/bootstrap3.min.css" />
    <link rel="stylesheet" href="/admin/stylesheets/fuelux.min.css" />
    <link rel="stylesheet" href="/admin/stylesheets/font-awesome.min.css" />
    <link rel="stylesheet" href="/admin/stylesheets/admin.css" />
    <link href='//fonts.googleapis.com/css?family=Roboto:400,500,700,900,300,100' rel='stylesheet' type='text/css'>
    {{ if(userType != 'admin' && userType != 'wizard'){ }}
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/account.css" />
    <script src="/admin/js/libs/jquery.js"></script>
    <script src="/admin/js/libs/bootstrap.min.js"></script>
    <script src="/admin/js/libs/resources.js"></script>
    <script src="/admin/js/scripts.js"></script>
    {{ }else{ }}
    <script data-main="/admin/js/{{- activePage }}" src="/admin/js/libs/require.js"></script>
    {{ } }}
</head>

{{ if(userType != 'admin' && userType != 'wizard'){ }}
<body id="messaging">
{{ }else{ }}
<body id="{{- activePage }}-body">
{{ } }}

<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="row-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="/admin/images/logo_magnet_dark.png" />
                Mobile Messaging
                <span class="project-name-holder"></span>
            </a>
        </div>
        {{ if(userType == 'admin'){ }}
        <ul id="user-nav-menu" class="nav navbar-nav navbar-right">
            <li>
                <a id="mmx-contextual-doc-btn" href="#" target="_blank" class="hidden-xs">
                    <span class="fa fa-question-circle fa-2x"></span>
                </a>
                <a id="user-nav-popover" data-title="<div class='clearfix'><a href='/#/profile' class='btn btn-sm btn-default pull-left'>Profile</a><a href='#/logout' class='btn btn-sm btn-default pull-right'>Sign Out</button></div>" data-content="<b>{{= sessionUser.email }}</b><br />{{= sessionUser.companyName || '' }}">
                    <span class="fa fa-cog fa-2x"></span> <span class="caret"></span>
                </a>
            </li>
        </ul>
        {{ } }}
    </div>
</nav>

{{ if(userType == 'admin'){ }}
<div id="user-panel" style="display:none">
    <div class="col">
        <span class="user-username">{{= sessionUser.email }}</span><br />
        <span class="user-company">{{= sessionUser.companyName }}</span>
    </div>
    <div class="col2">
        <a href="/#/profile">Edit Profile</a>
    </div>
    <div class="btns">
        <a href="/logout" class="btn btn-primary">Log Out</a>
    </div>
</div>
{{ } }}

{{ if(userType != 'admin' && userType != 'wizard'){ }}
<div id="login-container" class="app-view pre-login-containers fullpos">
    <div class="centered-wrapper">
        <div class="panel panel-default"{{ if(!envConfig.Email.enabled){ }} style="height:217px"{{ } }}>
            <h4>Sign In</h4>
            <form id="login-form">
                <!--<span class="alert-container"></span>-->
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Username" />
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password" />
                </div>
                {{ if(envConfig.Email.enabled){ }}
                <div class="form-group">
                    <a href="/#/forgot-password">Forgot Password?</a>
                </div>
                {{ } }}
                <div class="form-group">
                    <a id="login-btn" class="btn btn-primary">Sign In</a>
                </div>
                {{ if(envConfig.Email.enabled){ }}
                <div class="form-group">
                    <p>or <a href="/#/register">Register</a></p>
                </div>
                {{ } }}
            </form>
        </div>
    </div>
</div>
{{ }else{ }}
{{-body}}
{{ } }}

<!-- dialogs start -->
<div id="general-alert" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-primary">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="confirm-alert" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="submit btn btn-primary">Yes</button>
                <button data-dismiss="modal" type="button" class="btn btn-default">No</button>
            </div>
        </div>
    </div>
</div>

<div id="error-alert" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-primary">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="restart-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Server is Restarting</h4>
            </div>
            <div class="modal-body">
                <p>Your server must be restarted to continue.</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="messaging-provision-status-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Messaging Server Rebooting</h4>
            </div>
            <div class="modal-body">
                <p>Your messaging server has been provisioned successfully. Please wait for several seconds, the messaging server is being restarted. When the messaging server is ready, you will be taken to the next step.</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="restart-failed-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Server Restart Failed</h4>
            </div>
            <div class="modal-body">
                <p>The server could not be restarted. Please check the logs for more information.</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>