    <div class="row-fluid">
        <div id="resources" class="clearfix page-view">
            <h4>Resources</h4>

            <div class="resource-titles">
                <div class="col50">
                    For the Developer
                    <div class="divider-col">
                        <img class="divider-left" src="/images/resources/divider_left.png" />
                        <img class="divider-right" src="/images/resources/divider_right.png" />
                    </div>
                </div>
                <div class="col50">
                    For the Administrator
                    <div class="divider-col">
                        <img class="divider-left" src="/images/resources/divider_left.png" />
                        <img class="divider-right" src="/images/resources/divider_right.png" />
                    </div>
                </div>
            </div>

            <div class="col50">
                <img src="/images/resources/samples.png">
                <strong>Samples</strong>
                <p class="subheading">Get a head start</p>
                <a href="samples/" class="btn btn-primary">Go to Samples</a>
                <p>
                    Get source code and samples to see how<br /> our APIs can be used to build great apps.
                </p>
            </div>

            <!--
            <div class="col33">
                <img src="/images/resources/tutorials.png">
                <strong>Tutorials</strong>
                <p class="subheading">Learn Quickly</p>
                <a href="tutorials/" class="btn btn-primary">Go to Tutorials</a>
                <div class="margins">
                    <b>Section Title</b>
                    <ul>
                        <li>Caption</li>
                        <li>Caption</li>
                        <li>Caption</li>
                        <li>Caption</li>
                        <li>Caption</li>
                        <li>Caption</li>
                        <li>Caption</li>
                        <li>Caption</li>
                    </ul>
                </div>
            </div>
            -->

            <div class="col50">
                <img src="/images/resources/mobilemanager.png" style="height:169px" >
                <strong>Magnet Mobile App Manager</strong>
                <p class="subheading">Manage app distribution</p>
                <a href="mobile-app-manager/" class="btn btn-primary">Go to Download</a>
                <p>
                    Download all software necessary to distribute <br />and manage mobile apps to your employees.
                </p>
            </div>

        </div>
    </div>