
    <div class="row-fluid">
        <div class="clearfix page-view">
            <h4>Resources</h4>

            <p class="subhead">Download sample apps and source code here to help you get started and accelerate your development efforts.  You may modify (but not redistribute) this sample code.  Sample code is provided as is, and is not certified or supported by Magnet.  It is intended for educational purposes only.</p>

            <ul id="resources-tabmenu" class="nav nav-tabs">
                <li class="active"><a href="#tab-mab" data-toggle="tab">
                    <img src="/images/resources/rsrc_icon_mab.png" />
                    <b>Mobile App Builder</b>
                    <span>App Development Tool</span>
                </a></li>
                <li><a href="#tab-ms-sdk" data-toggle="tab">
                    <img src="/images/resources/rsrc_icon_sdk.png" />
                    <b>Mobile Server SDK</b>
                    <span>Software Development Kit</span>
                </a></li>
                <li><a href="#tab-jumpstart" data-toggle="tab">
                    <img src="/images/resources/rsrc_icon_jmpstrt.png" />
                    <b>Jumpstart App</b>
                    <span>Sample App</span>
                </a></li>
                <li><a href="#tab-peopleatwork" data-toggle="tab">
                    <img src="/images/resources/rsrc_icon_patw.png" />
                    <b>People@Work</b>
                    <span>Sample App</span>
                </a></li>
                <li><a href="#tab-ticketing" data-toggle="tab">
                    <img src="/images/resources/rsrc_icon_tcktng.png" />
                    <b>Ticketing</b>
                    <span>Sample App</span>
                </a></li>
                <li><a href="#tab-techcare" data-toggle="tab">
                    <img src="/images/resources/rsrc_icon_tecare.png" />
                    <b>Tech Care</b>
                    <span>Sample App</span>
                </a></li>
            </ul>

            <div id="resources-tabcontent" class="tab-content">

                <div class="tab-pane active" id="tab-mab">
                    <div class="row-fluid">
                        <div class="resources-samples-contents span6">
                            <p class="sectionhead">
                                The Magnet Mobile App Builder Tool is a command line utility that allows users
                                to create their custom mobile app projects, add API modules, generate API
                                Libraries for use with Mobile Server Library on iOS and Android, build the Mobile
                                App Server Runtime, initialize local or remote databases, and manage the lifecycle
                                of Mobile App Server Runtime instances (e.g. deploy, start, stop) either locally or
                                in the cloud.
                            </p>
                            <a href="/resources/files/mab.zip" class="btn">Download Magnet App Builder Tool</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-ms-sdk">
                    <div class="row-fluid">
                        <div class="resources-samples-contents span6">
                            <p class="sectionhead">
                                The Magnet Mobile Server SDK is a framework that simplifies user authentication,
                                enables device management, provides efficient synchronization of data, facilitates
                                capture of device logs and performance metrics, and facilitates backup and restore of
                                Magnet application-specific data.
                            </p>
                            <div class="selector clearfix">
                                <div class="caption"><b>Platform Version</b></div>
                                <div did="select-jumpstart" class="select-jumpstart selector-options">
                                    <a did="a-phone" class="a-phone-btn active" href="#"></a>
                                    <a did="i-phone" class="i-phone-btn" href="#"></a>
                                </div>
                            </div>
                            <div class="select-jumpstart">
                                <div class="a-phone">
                                    <a href="https://github.com/magnetsystems/sdk-android" target="_blank" class="btn">Go to Android Mobile Server SDK Github Project</a>
                                </div>
                                <div class="i-phone" style="display:none">
                                    <a href="https://github.com/magnetsystems/sdk-ios" target="_blank" class="btn">Go to iOS Mobile Server SDK.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-jumpstart">
                    <div class="row-fluid">
                        <div class="resources-samples-contents span6">
                            <p class="sectionhead">
                                The Jumpstart app is a simple starter mobile app project that contains a sample controller,
                                and includes a built-in Magnet Mobile Server Library that enables the mobile app to use
                                advanced features supported by a cloud-based Magnet Mobile App Server Runtime.  The Jumpstart
                                app is preconfigured to connect to a Mobile App Server Runtime instance hosted by Magnet in
                                the cloud.
                            </p>
                            <p class="bold">
                                Platform capabilities that this sample app exposes:
                            </p>
                            <ul>
                                <li>User Authentication</li>
                                <li>Hello World Controller</li>
                            </ul>
                            <div class="selector clearfix">
                                <div class="caption"><b>Platform Version</b></div>
                                <div did="select-jumpstart" class="select-jumpstart selector-options">
                                    <a did="a-phone" class="a-phone-btn active" href="#"></a>
                                    <a did="i-phone" class="i-phone-btn" href="#"></a>
                                </div>
                            </div>
                            <div class="select-jumpstart">
                                <div class="a-phone">
                                    <a href="https://github.com/magnetsystems/sdk-android" target="_blank" class="btn">Go to Android Jumpstart Github Project</a>
                                </div>
                                <div class="i-phone" style="display:none">
                                    <a href="https://github.com/magnetsystems/sdk-ios" target="_blank" class="btn">Go to iOS Jumpstart Github Project</a>
                                </div>
                            </div>
                        </div>
                        <div class="select-jumpstart screenshots span6">
                            <div class="a-phone">
                                <a href="/images/resources/screens/jumpstart/android/screen1.png" data-lightbox="tab-jumpstart-a-phone-imgs">
                                    <img src="/images/resources/screens/jumpstart/android/thumb1.png" />
                                </a>
                                <a href="/images/resources/screens/jumpstart/android/screen2.png" data-lightbox="tab-jumpstart-a-phone-imgs">
                                    <img src="/images/resources/screens/jumpstart/android/thumb2.png" />
                                </a>
                                <a href="/images/resources/screens/jumpstart/android/screen3.png" data-lightbox="tab-jumpstart-a-phone-imgs">
                                    <img src="/images/resources/screens/jumpstart/android/thumb3.png" />
                                </a>
                            </div>
                            <div class="i-phone" style="display:none">
                                <a href="/images/resources/screens/jumpstart/ios/screen1.png" data-lightbox="tab-jumpstart-i-phone-imgs">
                                    <img src="/images/resources/screens/jumpstart/ios/thumb1.png" />
                                </a>
                                <a href="/images/resources/screens/jumpstart/ios/screen2.png" data-lightbox="tab-jumpstart-i-phone-imgs">
                                    <img src="/images/resources/screens/jumpstart/ios/thumb2.png" />
                                </a>
                                <a href="/images/resources/screens/jumpstart/ios/screen3.png" data-lightbox="tab-jumpstart-i-phone-imgs">
                                    <img src="/images/resources/screens/jumpstart/ios/thumb3.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-peopleatwork">
                    <div class="row-fluid">
                        <div class="resources-samples-contents span6">
                            <p class="sectionhead">
                                People@Work is a simple app that  demonstrates how to use a Mobile App Server that can be generated
                                within the Factory to contain both the Salesforce and LinkedIn controllers.  Using APIs from  these
                                services, the mobile app provides a search interface for looking up contacts from these services
                                after first getting authorized by them via OAuth.
                            </p>
                            <p class="bold">
                                Platform capabilities that this sample app exposes:
                            </p>
                            <ul>
                                <li>User Authentication</li>
                                <li>Reliable Offline</li>
                                <li>Messaging</li>
                                <li>Persistence</li>
                            </ul>
                            <div class="selector clearfix">
                                <div class="caption"><b>Platform Version</b></div>
                                <div did="select-peopleatwork" class="select-peopleatwork selector-options">
                                    <a did="a-phone" class="a-phone-btn active" href="#"></a>
                                </div>
                            </div>
                            <div class="select-peopleatwork">
                                <div class="a-phone">
                                    <a href="https://github.com" target="_blank" class="btn">Go to People@Work Sample App Github Project</a>
                                </div>
                            </div>
                        </div>
                        <div class="select-peopleatwork screenshots span6">
                            <div class="a-phone">
                                <a href="/images/resources/screens/peopleatwork/android/screen1.png" data-lightbox="tab-peopleatwork-a-phone-imgs">
                                    <img src="/images/resources/screens/peopleatwork/android/thumb1.png" />
                                </a>
                                <a href="/images/resources/screens/peopleatwork/android/screen2.png" data-lightbox="tab-peopleatwork-a-phone-imgs">
                                    <img src="/images/resources/screens/peopleatwork/android/thumb2.png" />
                                </a>
                                <a href="/images/resources/screens/peopleatwork/android/screen3.png" data-lightbox="tab-peopleatwork-a-phone-imgs">
                                    <img src="/images/resources/screens/peopleatwork/android/thumb3.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-ticketing">
                    <div class="row-fluid">
                        <div class="resources-samples-contents span6">
                            <p class="sectionhead">
                                The TechCare and Ticketing apps complement each other by integrating
                                with the same custom-built Mobile App Server.  The TechCare app illustrates the following
                                capabilities: offline processing via reliable queuing and data caching, use of mapping and
                                native device features to remotely set a network fence for the Ticketing app users, as well
                                as use of notifications.</p>
                            <p class="bold">
                                Platform capabilities that this sample app exposes:
                            </p>
                            <ul>
                                <li>User Authentication</li>
                                <li>Persistence</li>
                            </ul>
                            <div class="selector clearfix">
                                <div class="caption"><b>Platform Version</b></div>
                                <div did="select-ticketing" class="select-ticketing selector-options">
                                    <a did="a-phone" class="a-phone-btn active" href="#"></a>
                                </div>
                            </div>
                            <div class="select-ticketing">
                                <div class="a-phone">
                                    <a href="https://github.com" target="_blank" class="btn">Go to Ticketing Sample App Github Project</a>
                                </div>
                            </div>
                        </div>
                        <div class="select-ticketing screenshots span6">
                            <div class="a-phone">
                                <a href="/images/resources/screens/ticketing/android/screen1.png" data-lightbox="tab-ticketing-a-phone-imgs">
                                    <img src="/images/resources/screens/ticketing/android/thumb1.png" />
                                </a>
                                <a href="/images/resources/screens/ticketing/android/screen2.png" data-lightbox="tab-ticketing-a-phone-imgs">
                                    <img src="/images/resources/screens/ticketing/android/thumb2.png" />
                                </a>
                                <a href="/images/resources/screens/ticketing/android/screen3.png" data-lightbox="tab-ticketing-a-phone-imgs">
                                    <img src="/images/resources/screens/ticketing/android/thumb3.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-techcare">
                    <div class="row-fluid">
                        <div class="resources-samples-contents span6">
                            <p class="sectionhead">
                                The TechCare and Ticketing apps complement each other by integrating
                                with the same custom-built Mobile App Server.  The TechCare app illustrates the following
                                capabilities: offline processing via reliable queuing and data caching, use of mapping and
                                native device features to remotely set a network fence for the Ticketing app users, as well
                                as use of notifications.</p>
                            <p class="bold">
                                Platform capabilities that this sample app exposes:
                            </p>
                            <ul>
                                <li>User Authentication</li>
                                <li>Persistence</li>
                            </ul>
                            <div class="selector clearfix">
                                <div class="caption"><b>Platform Version</b></div>
                                <div did="select-techcare" class="select-techcare selector-options">
                                    <a did="i-pad" class="i-pad-btn active" href="#"></a>
                                </div>
                            </div>
                            <div class="select-techcare">
                                <div class="i-pad">
                                    <a href="https://github.com" target="_blank" class="btn">Go to Tech Care Sample App Github Project</a>
                                </div>
                            </div>
                        </div>
                        <div class="select-techcare screenshots span6">
                            <div class="i-pad">
                                <a href="/images/resources/screens/techcare/ios/screen1.png" data-lightbox="tab-techcare-i-pad-imgs">
                                    <img src="/images/resources/screens/techcare/ios/thumb1.png" />
                                </a>
                                <a href="/images/resources/screens/techcare/ios/screen2.png" data-lightbox="tab-techcare-i-pad-imgs">
                                    <img src="/images/resources/screens/techcare/ios/thumb2.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>


