
    <div class="row-fluid">
        <div class="clearfix page-view">
            <h4>Magnet Mobile App Manager</h4>

            <p class="subhead">Download components of the Magnet Mobile App Manager product below.  Use of this software is governed by the Terms of Service you accepted when registering with the Developer Factory. </p>

            <div class="resources-samples-container clearfix">
                <div class="resources-samples-img">
                    <img src="/images/resources/mobilemanager.png" style="height:88px" />
                </div>
                <div class="resources-samples-content">
                    <strong>Magnet Mobile App Manager</strong>
                    <p>This package contains the Magnet Mobile App Manager, Setup apps to enable iOS and Android users.  Refer to the <a class="resource-path" href="/docs/app_manager_console/pdf.pdf" target="_blank">Magnet&trade; Mobile App Manager Admin Guide</a> documentation to configure and use these components.</p>
                </div>
                <div class="resources-samples-download valign-relative">
                    <a class="resource-path" href="/resources/files/mam/admin-appmanager.zip">Download</a>
                </div>
            </div>

            <div class="resources-samples-container clearfix">
                <div class="resources-samples-img">
                    <img src="/images/resources/appstore_android.png" />
                </div>
                <div class="resources-samples-content">
                    <strong>Magnet Apps@Work Mobile App Store for Android&trade;</strong>
                    <p>This package contains the .apk file for the Magnet Apps@Work mobile app store that would get distributed to employees via the Magnet Mobile App Manager.  Refer to the <a class="resource-path" href="/docs/android_end_user_guide/pdf.pdf" target="_blank">Magnet&trade; Mobile for Android User Guide</a> documentation for instructions on how to use the App Store.</p>
                </div>
                <div class="resources-samples-download valign-relative">
                    <a class="resource-path" href="/resources/files/mam/android_appstore.zip">Download</a>
                </div>
            </div>


            <div class="resources-samples-container clearfix">
                <div class="resources-samples-img">
                    <img src="/images/resources/appstore_ios.png" />
                </div>
                <div class="resources-samples-content">
                    <strong>Magnet Apps@Work Mobile App Store for iOS&trade;</strong>
                    <p>This package contains the .ipa file for the Magnet Apps@Work mobile app store that would get distributed to employees via the Magnet Mobile App Manager. Refer to the <a class="resource-path" href="/docs/ios_end_user_guide/pdf.pdf" target="_blank">Magnet&trade; Mobile for iOS User Guide</a> documentation for instructions on how to use the App Store.</p>
                </div>
                <div class="resources-samples-download valign-relative">
                    <a class="resource-path" href="/resources/files/mam/ios_appstore.zip">Download</a>
                </div>
            </div>

        </div>
    </div>
