
    <div class="row-fluid">
        <div class="clearfix page-view">
            <h4>Samples</h4>
            
            <p class="subhead">Download sample apps and source code here to help you get started and accelerate your development efforts.  You may modify (but not redistribute) this sample code.  Sample code is provided as is, and is not certified or supported by Magnet.  It is intended for educational purposes only.</p>

            <div class="resources-samples-container clearfix">
                <div class="resources-samples-img">
                    <img src="/images/resources/samp_people.png" />
                </div>
                <div class="resources-samples-content">
                    <strong>People@Work sample app</strong>
                    <p class="sectionhead"> People@Work is a simple app that  demonstrates how to use a Mobile App Server that can be generated within the Factory to contain both the Salesforce and LinkedIn controllers.  Using APIs from  these services, the mobile app provides a search interface for looking up contacts from these services after first getting authorized by them via OAuth.</p>
                </div>
                <div class="resources-samples-download valign-relative">
                    <img src="/images/resources/android.png" /><img src="/images/resources/phone.png" /><br />
                    <a class="resource-path" href="/resources/files/samples/people_at_work.zip">Download</a>
                </div>
            </div>

            <div class="resources-samples-container clearfix">
                <div class="resources-samples-img">
                    <img src="/images/resources/samp_ticketing.png" />
                </div>
                <div class="resources-samples-content">
                    <strong>Ticketing sample app</strong>
                    <p class="sectionhead">The Ticketing and TechCare apps complement each other by integrating with the same custom-built Mobile App Server.  The Ticketing app illustrates the following capabilities: offline processing via reliable queuing and data caching, use of the constraint APIs to utilize location and network fencing, as well as use of notifications.</p>
                </div>
                <div class="resources-samples-download valign-relative">
                    <!--
                    <img src="/images/resources/android.png" /><img src="/images/resources/phone.png" /><br />
                    <a class="resource-path" href="/resources/files/samples/ticketing.zip">Download</a>
                    -->
                    <b>Coming Soon</b>
                </div>
            </div>

            <div class="resources-samples-container clearfix">
                <div class="resources-samples-img">
                    <img src="/images/resources/samp_techcare.png" />
                </div>
                <div class="resources-samples-content">
                    <strong>TechCare sample app</strong>
                    <p class="sectionhead">The TechCare and Ticketing apps complement each other by integrating with the same custom-built Mobile App Server.  The TechCare app illustrates the following capabilities: offline processing via reliable queuing and data caching, use of mapping and native device features to remotely set a network fence for the Ticketing app users, as well as use of notifications.</p>
                    <!--
                    <p>
                        Platform capabilities that this app users are:
                    </p>
                    <ul>
                        <li class="first">Android</li>
                        <li>Login controller</li>
                        <li>xyz controller</li>
                    </ul>
                    <ul>
                        <li class="first">iOS</li>
                        <li>Login controller</li>
                        <li>xyz controller</li>
                    </ul>
                    -->
                </div>
                <div class="resources-samples-download valign-relative">
                    <!--
                    <img src="/images/resources/ios.png" /><img src="/images/resources/tablet.png" /><br />
                    <a class="resource-path" href="/resources/files/samples/techcare.zip">Download</a>
                    -->
                    <b>Coming Soon</b>
                </div>
            </div>

        </div>
    </div>