A new user requested to be invited to use Magnet Messaging: <br /><br />
First Name : {{=firstName}} <br/>
Last Name : {{=lastName}} <br />
Email : <a href="mailto:{{-email}}">{{-email}}</a> <br /><br />
Please click following link to go to management page to approve/decline it: <br />
<a href="{{-url}}/admin/#/requests">{{-url}}/admin/#/requests</a>

