<p style="font-size:14px;color:#000">
    You recently requested to reset your Magnet Developer account password.
</p>

<p style="font-size:14px;color:#000">
    To reset your password, please click the following button:
</p>

<table cellspacing="0" cellpadding="0">
    <tr>
        <td align="center" width="300" height="40" bgcolor="#B81000" style="-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; color: #ffffff; display: block;">
            <a href="{{-url}}" style="font-size:16px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block"><span style="color: #FFFFFF">Mobile Messaging Password Reset</span></a>
        </td>
    </tr>
</table>

<p style="font-size:14px;color:#000">
    Regards,<br />
    The Magnet Developer Team <br />
    <a href="https://developers.magnet.com/">https://developers.magnet.com/</a>
</p>