<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Developer Factory: {{=emailTitle}}</title>
</head>
<body style="font-family:arial;margin:0;padding:00;text-align:center;background-color:#ddd">
<table border="0" cellpadding="0" cellspacing="0" style="width:630px;padding-top:30px;margin:0 auto">
    <tr>
        <td height="70"
            style="height:70px;width:30px;background:url({{-resourceUrl}}/email_tmpl/t_l_bgk.jpg) 0 0 no-repeat"></td>
        <td height="70" align="left" valign="middle"
            style="height:70px;width:600px;background:url({{-resourceUrl}}/email_tmpl/t_m_bgk.jpg) 0 0 repeat-x">
            <img align="absmiddle" src="{{-resourceUrl}}/email_tmpl/logo.jpg" style="margin-left:-10px;margin-top:4px"/>
            <span style="font-size:18px;color:#fff">Developer Factory: {{=emailTitle}}</span>
        </td>
        <td height="70"
            style="height:70px;width:30px;background:url({{-resourceUrl}}/email_tmpl/t_r_bgk.jpg) 0 0 no-repeat"></td>
    </tr>
    <tr>
        <td style="width:30px;background:url({{-resourceUrl}}/email_tmpl/m_l_bgk.jpg) 0 0 repeat-y"></td>
        <td align="left" style="width:600px;background-color:#fff">

            {{-emailBody}}

        </td>
        <td style="width:30px;background:url({{-resourceUrl}}/email_tmpl/m_r_bgk.jpg) 0 0 repeat-y"></td>
    </tr>
    <tr>
        <td height="29"
            style="height:29px;width:30px;background:url({{-resourceUrl}}/email_tmpl/b_l_bgk.jpg) 0 0 no-repeat"></td>
        <td height="29" style="height:29px;background:url({{-resourceUrl}}/email_tmpl/b_m_bgk.jpg) 0 0 repeat-x">
            <img src="{{-resourceUrl}}/email_tmpl/b_m_bgk.jpg"/>
        </td>
        <td height="29"
            style="height:29px;width:30px;background:url({{-resourceUrl}}/email_tmpl/b_r_bgk.jpg) 0 0 no-repeat"></td>
    </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto">
    <tr>
        <td></td>
        <td align="left" style="color:#7a7a7a;width:600px">
            <p style="font-size:10px">
                Magnet Systems, Inc. <a href="http://www.magnet.com" style="color:#7a7a7a">http://www.magnet.com</a><br>
                435 Tasso Street Suite #100, Palo Alto, CA USA 94301
            </p>

            <p style="font-size:10px">
                &copy; 2013 Magnet Systems, Inc. All rights reserved. Various trademarks displayed in connection with
                the services are held by
                their respective owners.
            </p>
        </td>
        <td></td>
    </tr>
</table>
</body>
</html>