<p style="font-size:14px;color:#000">
    Hi,
</p>

<p style="font-size:14px;color:#000">
    Thank you for registering.
</p>

<p style="font-size:14px;color:#000">
    To activate your Magnet Message account, please click the following button:
</p>

<table cellspacing="0" cellpadding="0">
    <tr>
        <td align="center" width="300" height="40" bgcolor="#B81000" style="-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; color: #ffffff; display: block;">
            <a href="{{-url}}" style="font-size:16px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block"><span style="color: #FFFFFF">Magnet Message Account Activation</span></a>
        </td>
    </tr>
</table>

<p style="font-size:14px;color:#000">
    If you have any questions or comments, please contact the helpdesk.
</p>
