<p style="font-size:14px;color:#000">
    Congratulations! You have been granted access to the Magnet Developer Factory. To create your account,
    click the link below or copy it into your browser:
</p>

<p style="font-size:14px">
    <a style="color:#c30000;text-decoration:none" href="{{-url}}">{{-url}}</a>
</p>

<p style="font-size:14px;color:#000">
    We hope you will find the tools and services provided by the Magnet Developer Factory very useful for
    your development projects!
</p>

<p style="font-size:14px;color:#000">
    Regards,<br />
Magnet Developer Support
</p>