<p style="margin:0;padding:10px;font-size:14px;color:#000">
{{-introduceMsg}}
</p>

<p style="margin:0;padding:10px;font-size:14px;color:#000">
    To create your account, click the link below or copy it into your browser to confirm the invitation:
</p>

<p style="margin:0;padding:10px;font-size:14px">
    <a style="color:#c30000;text-decoration:none" href="{{-url}}">{{-url}}</a>
</p>

<p style="margin:0;padding:10px;font-size:14px;color:#000">
    Once confirmed, you will receive another email to set your password.
</p>

<p style="margin:0;padding:10px;font-size:14px;color:#000">
    Regards,<br />
{{-firstName}} {{-lastName}}
</p>