
    <div class="row-fluid">
        <div id="homebanner" class="clearfix page-view">

            <div id="home-carousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#home-carousel" data-slide-to="1"></li>
                    <li data-target="#home-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/images/bootstrap-mdo-sfmoma-01.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/images/bootstrap-mdo-sfmoma-02.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/images/bootstrap-mdo-sfmoma-03.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#home-carousel" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#home-carousel" data-slide="next">&rsaquo;</a>
            </div>

            <div id="home-panels" class="row-fluid">
                <div class="span4">
                    <div class="panel-margins">
                        <div class="clearfix">
                            <img src="/images/home/hm_icon_getstarted.png" />
                            <h4>Get Started</h4>
                        </div>
                        <p>Start an Android or iOS Mobile App project using the Magnet Quick Start Wizard.</p>
                        <div class="centered">
                            <a href="/get-started/" class="btn">Get Started </a>
                        </div>
                    </div>
                    <div class="vdivider"></div>
                </div>
                <div class="span4">
                    <div class="panel-margins">
                        <div class="clearfix">
                            <img src="/images/home/hm_icon_mobapp.png" />
                            <h4>Mobile App</h4>
                        </div>
                        <p>Jump start your mobile app project using the Jumpstart app.</p>
                        <div class="centered lalign">
                            <a href="/get-started/#gs-android" class="btn">Android Developer </a>
                            <a href="/get-started/#gs-ios" class="btn">iOS Developer </a>
                        </div>
                    </div>
                    <div class="vdivider"></div>
                </div>
                <div class="span4">
                    <div class="panel-margins">
                        <div class="clearfix">
                            <img src="/images/home/hm_icon_cldruntm.png" />
                            <h4>Cloud Runtime</h4>
                        </div>
                        <p>Deploy your Magnet Mobile App Server Runtime locally or to the cloud to support your mobile development efforts.</p>
                        <div class="centered lalign">
                            <a href="/dev/" class="btn">Run the Project Wizard</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>



