
    <div class="row-fluid">
        <div id="home-main" class="clearfix page-view">

            <h4 class="main-title">Mobile Development &amp; You</h4>
            <div id="home-banner">
                <img src="/images/home/story_graphic.png" />
            </div>
            <div id="home-panels" class="row-fluid">
                <div class="span6">
                    <div class="panel-margins">
                        <div class="clearfix">
                            <h4>Mobile Developers</h4>
                        </div>
                        <p>Get up and running quickly with a sample mobile app on Android&trade; and iOS&trade;.</p>
                        <div class="centered">
                            <a href="/get-started/#gs-android" class="btn btn-primary">Android Developer </a>
                            <a href="/get-started/#gs-ios" class="btn btn-primary">iOS Developer </a>
                        </div>
                    </div>
                    <div class="vdivider"></div>
                </div>
                <div class="span6">
                    <div class="panel-margins">
                        <div class="clearfix">
                            <h4>Server Developers</h4>
                        </div>
                        <p>Create a project profile to generate mobile APIs, build your server runtime, and deploy locally or to the cloud.</p>
                        <div class="centered">
                            <a href="/get-started/#gs-server" class="btn btn-primary">Server Developer </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>



