
    <div class="row-fluid">
        <div class="clearfix page-view">
            <h4>Introducing Developer Factory</h4>

            <p class="subhead">Get your projects started in the Developer Factory by quickly generating a custom SDK for your mobile apps. First, configure the services you want to enable for your mobile apps, followed by specifying the web services you want to use. That's it! The Developer Factory automatically constructs your own Magnet Mobile App Server along with the matching SDKs for iOS and Android app development.</p>

            <h4>How it works:</h4>

            <img class="variable-100" src="../images/howitworks.png" />

        </div>
    </div>
    <div class="row-fluid">
<!--
                <ul class="thumbnails">
                    <li class="span4">
                        <div class="thumbnail">
                            <img data-src="holder.js/300x200" alt="">
                            <div class="caption">
                                <h3>Watch The Video</h3>
                                <p>See how easy it is to mobilize your WebLogic application. In just a few minutes we take you from WebLogic WSDL to working mobile app.</p>
                                <p><a href="videos/" class="btn btn-primary">Watch Video</a>
                            </div>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img data-src="holder.js/300x200" alt="">
                            <div class="caption">
                                <h3>Get Started</h3>
                                <p>Now that you see how it works let's begin. With the Magnet Logic Project Wizard it's as easy as 1-2-3.</p>
                                <p><a href="dev/" class="btn btn-primary">Launch</a>
                            </div>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img data-src="holder.js/300x200" alt="">
                            <div class="caption">
                                <h3>Learn More</h3>
                                <p>Want to do that and more? Read how to customize and configure your own app. Then deply and manage app and server with Magnet's Mobile App Management.</p>
                                <p><a href="docs/" class="btn btn-primary">Read</a>
                            </div>
                        </div>
                    </li>
                </ul>
-->
    </div>
