
    <div class="row-fluid">
        <div id="homebanner" class="clearfix page-view">

            <div id="home-carousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#home-carousel" data-slide-to="1"></li>
                    <li data-target="#home-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="img-container">
                            <img src="/images/home/crsel_1.png" alt="">
                        </div>
                        <div class="carousel-caption">
                            <h4>New Version</h4>
                            Update to the latest version of the Magnet Mobile Server.
                            <p><a href="/resources/">Download the Magnet Mobile Server version 2.0 &gt;&gt;</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-container">
                            <img src="/images/home/crsel_2.png" alt="">
                        </div>
                        <div class="carousel-caption">
                            <h4>Project Wizard</h4>
                            Easily choose what you want to add to your mobile app project
                            <p><a href="/dev/">Experience the magic &gt;&gt;</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-container">
                            <img src="/images/home/crsel_3.png" alt="">
                        </div>
                        <div class="carousel-caption">
                            <h4>Get a Jump Start</h4>
                            See how easy it is to start developing your mobile app
                            <p><a href="/resources/">Jump past the competition &gt;&gt;</a></p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#home-carousel" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#home-carousel" data-slide="next">&rsaquo;</a>
            </div>

            <div id="home-panels" class="row-fluid">
                <div class="span4">
                    <div class="panel-margins">
                        <div class="clearfix">
                            <img src="/images/home/hm_icon_getstarted.png" />
                            <h4>Get Started</h4>
                        </div>
                        <p>Start an Android or iOS Mobile App project using the Magnet Quick Start Wizard.</p>
                        <div class="centered">
                            <a href="/get-started/" class="btn">Get Started </a>
                        </div>
                    </div>
                    <div class="vdivider"></div>
                </div>
                <div class="span4">
                    <div class="panel-margins">
                        <div class="clearfix">
                            <img src="/images/home/hm_icon_mobapp.png" />
                            <h4>Mobile App</h4>
                        </div>
                        <p>Jump start your mobile app project using the Jumpstart app.</p>
                        <div class="centered lalign">
                            <a href="/get-started/#gs-android" class="btn">Android Developer </a>
                            <a href="/get-started/#gs-ios" class="btn">iOS Developer </a>
                        </div>
                    </div>
                    <div class="vdivider"></div>
                </div>
                <div class="span4">
                    <div class="panel-margins">
                        <div class="clearfix">
                            <img src="/images/home/hm_icon_cldruntm.png" />
                            <h4>Cloud Runtime</h4>
                        </div>
                        <p>Deploy your Magnet Mobile App Server Runtime locally or to the cloud to support your mobile development efforts.</p>
                        <div class="centered lalign">
                            <a href="/dev/" class="btn">Run the Project Wizard</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>



