
    <div class="row-fluid">
        <div class="clearfix page-view">
            <div class="centered">
                <h4>Introducing Developer Factory</h4>
            </div>
            <div id="home-panels" class="row-fluid">
                <div class="span4">
                    <div class="panel-margins left-side">
                        <div class="centered">
                            <img src="../images/home/hm_start.png" />
                            <h3>Start</h3>
                            <b>Get started quick</b>
                        </div>
                        <p>Start an Android or iOS Mobile App project using the Magnet Quick Start Wizard.</p>
                        <ul class="home-custom-list">
                            <li>Choose from several common pre-built services like Facebook, LinkedIn and Salesforce.</li>
                            <li>Add your own custom APIs and Web Services.</li>
                        </ul>
                        <a href="/dev/" class="btn">Get Started </a>
                    </div>
                </div>
                <div class="span4">
                    <div class="panel-margins">
                        <div class="centered">
                            <img src="../images/home/hm_build.png" />
                            <h3>Build</h3>
                            <b>Jump start for mobile developers</b>
                        </div>
                        <p>Jump start your mobile app project using the Jumpstart app.</p>
                        <a href="#" class="btn">iOS Developer </a>
                        <a href="#" class="btn">Android Developer </a>
                        <div class="centered">
                            <b>A tool for sever developers</b>
                        </div>
                        <p>Create, edit, and manage the mobile app project. Generate mobile and server code from within the Magnet Mobile App Builder Tool.</p>
                        <a href="#" class="btn">Server Developer </a>
                    </div>
                </div>
                <div class="span4">
                    <div class="panel-margins right-side">
                        <div class="centered">
                            <img src="../images/home/hm_run.png" />
                            <h3>Run</h3>
                            <b>Magnet Mobile App Server Runtime</b>
                        </div>
                        <p>Deploy your Magnet Mobile App Server Runtime locally or to the cloud to support your mobile development efforts.</p>
                        <a href="#" class="btn">Go to Documentation </a>
                    </div>
                </div>
            </div>

        </div>
    </div>



