
    <div class="row-fluid">
        <div id="home-main" class="clearfix page-view">

            {{ if(typeof homePageVideoID != 'undefined' && homePageVideoID.length > 1){ }}
            <div id="home-tutorial-video-container">
                <button id="watchVideo" class="btn btn-primary" did="{{-homePageVideoID}}">Watch First</button>
            </div>
            <div id="WatchVideoModal" class="modal hide fade">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close">x</button>
                    <h3>Developer Tutorial</h3>
                </div>
                <div class="modal-body" id="tutorialVideoContainer"></div>
                <div class="modal-footer">
                    <button data-dismiss="modal" id="hideVideoModal" class="btn btn-primary">Close</button>
                </div>
            </div>
            {{ } }}
            <div id="home-banner">
                <img src="/images/home/story_graphic.png" class="{{ if(typeof homePageVideoID != 'undefined' && homePageVideoID.length > 1){ }}withVideo{{ } }}" />
            </div>
            <div id="home-panels" class="row-fluid">
                <div class="span6">
                    <div class="panel-margins">
                        <div class="clearfix">
                            <h4>Learn More</h4>
                        </div>
                        <p>Get a brief introduction to the Developer Factory.</p>
                        <div class="centered">
                            <a href="/learn-more/" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                    <div class="vdivider"></div>
                </div>
                <div class="span6">
                    <div class="panel-margins">
                        <div class="clearfix">
                            <h4>Get Started</h4>
                        </div>
                        <p>Get up and running quickly with our quick start guide.</p>
                        <div class="centered">
                            <a href="/get-started/" class="btn btn-primary">Get Started</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>



