/* layout and heading */
body.dev{overflow-x:hidden;height:100% !important}
html{height:100%;margin:0;padding:0;min-width:980px;width:100%;overflow-y:scroll}
body{min-width:980px;width:100%;margin:0;padding:0;border:0;background:url(../images/site_bgk.png) repeat-x 56px 0 #A1A1A1;color:#343434;font-family:"Titillium Web","Helvetica Neue",Helvetica,Arial,sans-serif}
#site-header{min-width:980px;width:100%;height:55px;position:relative;background:url(../images/header_bgk.png) repeat-x 0 0}
#site-header .control-buttons{margin-top:9px;float:right;top:11px;position:absolute;top:5px;right:5px;text-align:right}
#site-header #invite-others{margin-right:9px}
#site-header #invite-others i{margin-top:5px}
#site-header .control-buttons img{float:right;margin:-3px 6px 0 25px}
.site-user-container{float:right}
.site-user-prefix{color:#9e9e9e;font-size:16px;font-weight:normal}
.site-user{color:#fff;font-size:16px;font-weight:bold}
.logo_container{position:absolute;top:10px;left:10px;color:#fff}
.logo_container a{text-decoration:none;color:#fff}
.logo_container img{float:left;margin-right:10px}
.logo_container h4{float:left;font-size:19px;margin-top:6px}
.title_container{margin:0 auto;width:444px}
.title_container > li{position:relative;float:left;display:block;background:url(../images/header_btn.png) no-repeat 0 0;width:111px;height:55px}

.title_container > li > a{font-size:15px;line-height:50px;text-decoration:none;text-align:center;float:left;display:block;width:100%;height:100%;color:#ffa9a9}
.title_container > li.active a{color:#fff}

.title_container .dropdown-menu li{padding:2px 0;background:#983C3C}
.title_container .dropdown-menu li:hover{background:#C15454}

.dropdown .dropdown-menu li.active a, .dropdown .dropdown-menu li:hover a{outline:none;background:#C15454}
.dropdown-menu li a:focus{outline:none;background:#983C3C}
.dropdown .dropdown-menu li.active a.active, .dropdown .dropdown-menu li a:hover{background:none;background:#C15454}

#menu-samples a{background:url('../images/resources/menu.png') no-repeat 10px -56px #983C3C}
#menu-samples a:hover, #menu-samples.active a{background:url('../images/resources/menu.png') no-repeat 10px -84px #C15454}
#menu-tutorials a{background:url('../images/resources/menu.png') no-repeat 10px -112px #983C3C}
#menu-tutorials a:hover, #menu-tutorials.active a{background:url('../images/resources/menu.png') no-repeat 10px -140px #C15454}

#menu-mam a{background:url('../images/resources/menu.png') no-repeat 10px 0 #983C3C}
#menu-mam a:hover, #menu-mam.active a{background:url('../images/resources/menu.png') no-repeat 10px -28px #C15454}
#menu-tools a{background:url('../images/resources/menu.png') no-repeat 10px 0 #983C3C}
#menu-tools a:hover, #menu-tools.active a{background:url('../images/resources/menu.png') no-repeat 10px -28px #C15454}

.title_container .dropdown-menu{font-size:15px;margin:0;border-radius:0;background:none;padding:0;border-top:solid 1px #722828;border-left:solid 1px #722828;border-right:solid 1px #722828}
.title_container .dropdown-menu li{border-radius:none;border-bottom:solid 1px #722828}
.title_container .dropdown-menu li a{color:#FFA9A9;padding:4px 9px}
.title_container .dropdown-menu li.active a, .title_container .dropdown-menu li:hover a{color:#FFF}

#logout-btn{background:url(../images/header_sprites.png) 2px 0 no-repeat;width:101px;height:30px;float:right;margin:-2px 5px 0 30px;text-align:left;text-indent:42px;font-size:15px;line-height:26px;font-weight:normal;color:#9e9e9e}
#logout-btn:hover{color:#fff;background-position:2px -30px}

.fullpos{height:auto;position:absolute;top:0;bottom:0;left:0;right:0}
.page{height:100%;height:auto;position:absolute;top:76px;bottom:0;width:100%;min-width:980px;margin-bottom:25px}
.page .page-view{position:relative;margin-bottom:25px;padding:0 25px;background-color:#f7f7f7;border-radius:12px;-moz-box-shadow:0 7px 8px #666;-webkit-box-shadow:0 7px 8px #666;box-shadow:0 7px 8px #666;-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666')";filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666')}
.heading{height:46px;width:100%;background:url(../images/hdr_bkgd_parameters.gif) repeat-x 0 0}
.config{background:#e3e3e3;height:20px;padding:10px 0}
.fullheight{height:100%;position:relative}
.halfheight{height:50%;position:relative}
.center-spacing{overflow:hidden}

#dev-container .thumbnails{margin: 0 auto !important;width:89%}
.thumbnail, .hero-unit{background:#f7f7f7;-moz-box-shadow:0 7px 8px #666;-webkit-box-shadow:0 7px 8px #666;box-shadow:0 7px 8px #666;-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666')";filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666')}
.thumbnail{border:none;border-radius:12px}

.modal.fade{-webkit-transition:opacity .2s linear;-moz-transition:opacity .2s linear;-o-transition:opacity .3s linear;transition:opacity .2s linear;top:-25%;}
.modal-backdrop,.modal-backdrop.fade.in{opacity:0.8;filter:alpha(opacity=80);}

#errorpage{margin-top:20px}

/* general */
.centered{text-align:center}
.smbtn{border-radius:4px;padding:3px 8px;margin-left:10px;min-width:40px;text-align:center;color:#fff;text-decoration:none;display:block;float:left;font-weight:bold}
.red{background:#cc0000}
.greentxt{color:#4FB54C;margin-left:17px}
.redtxt{color:#cc0000;font-size:20px;font-weight:bold}
.gray{background:#999}
.hidden{display:none !important}
.invisible{visibility:hidden}
.ajaxLoader{font-size:12px;font-weight:bold;display:none;position:absolute;top:0;left:0;width:100%;height:100%;z-index:2000;background:url(../images/ajax-loader.gif) no-repeat center center}
.reduced{font-size:11px}
.req{color:#ff0000}
.left{float:left}
.right{float:right}
.rounded{border:solid 1px #ddd;border-radius:4px;padding:8px;cursor:pointer}
.rounded:hover{background-color:#F5F5F5}
.fixed{position:fixed;top:130px;right:60px}
.btn.btn-primary{background:url(../images/btn_bgk.png) repeat-x 0 0;min-height:21px;border:none;padding:5px 12px}

/* loading bar */
#loadingBar{display:table;position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.8;z-index:1100;float:none}
#loadingContent{position:absolute;top:50%;left:50%;height:70px;width:380px;margin:-85px 0 0 -230px;color:#000;background:#DDD;border:1px solid #888;border-radius:8px;float:none;padding:40px}

/* modal dialog */
.modal-form-errors li{color:#808080;text-shadow:-1px 1px 0 #fff;-moz-text-shadow:-1px 1px 0 #fff;-webkit-text-shadow:-1px 1px 0 #fff;color:#d8000c}
.modal-alert{width:310px;margin:-200px 0 0 -150px}
#invite-other-modal, #upload-server-jar{width:400px}
.generalMsg{padding:20px}
.clear-fix{clear:both}

/* global */

h1, h2, h3, h4, h5{font-weight:normal}
h1{margin-top:40px}
.btn i{margin:4px 5px !important}
.btn-list{position:absolute;top:14px;right:25px}
/* .modal{margin:-200px 0 0 -280px} */
.modal h3{margin-bottom:4px !important}
.page-view .row-fluid input, .modal .row-fluid input.page-view, .row-fluid select, .modal .row-fluid select{margin-bottom:8px}
.modal-body{padding:15px 15px 0}
.bold{font-weight:bold}

/********************************** pre-login **********************************/

/* home */

#home-main{padding:0;margin:0 auto}
#home-banner h4{margin-left:25px}
#home-banner img{margin-top:10px}
.home-custom-list{list-style-image:url('../images/home/bullet.png')}
.home-custom-list li{;margin-bottom:15px}
#home-panels{background:url(../images/home/hm_divider.png) no-repeat center top;background-size:100%;margin:0 auto}
#home-panels .span4{position:relative}
#home-panels{padding-bottom:10px}
.panel-margins{padding:14px;width:83%;margin:0 auto;text-align:center}
.panel-margins h4{font-size:17px !important;font-weight:bold;margin-top:20px !important;color:#000 !important}
.panel-margins .btn{margin:12px 0 6px;width:40%}
#home-panels .span6{position:relative}
.vdivider{position:absolute;top:19px;right:0;width:2px;height:80%;color:ccc;background:#ccc}

#dev-container .page-view{margin:0 auto 25px;width:85%}
#dev-container p.subhead{margin:26px 0 25px}
#dev-container p.ans{margin:0 0 25px}
#intro-video{margin-bottom:25px}
#dev-container h4{margin-top:20px}
#dev-container h5{font-size:16px}
#dev-container h4, .modal h3{font-size:24px;color:#c30000;margin-bottom:16px}

/* other */

.variable-100{width:100%}
.variable-80{margin-top:24px;width:80%;margin-bottom:40px}

.support-page h5{margin-top:29px}

#captcha, #captcha-contact, #captcha-pwd{display:block;text-align:center}
.captcha{border:1px solid #BBB;box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);float:left;height:28px;margin:0 8px 0px 5px;width:28px;border-radius:4px}
.captcha-refresh{cursor:pointer;border:1px solid #777;float:left;height:28px;margin:0 0 0px 5px;width:28px;border-radius:4px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);background-color:#f5f5f5;background-image:-moz-linear-gradient(top, #ffffff, #aaa);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#aaa));background-image:-webkit-linear-gradient(top, #ffffff, #aaa);background-image:-o-linear-gradient(top, #ffffff, #aaa);background-image:linear-gradient(to bottom, #ffffff, #aaa);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffaaaaaa', GradientType=0);*background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}
.captcha-refresh:hover{background-color:#ccc;*background-color:#ddd;background-position:0 -28px;-webkit-transition:background-position 0.1s linear;-moz-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear}
.captcha-refresh i{margin-top:6px;opacity:.7;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75)}

/********************************** login **********************************/

body.dev .page-view h4{color:#c30000}
body.dev .page{top:0;height:auto;position:relative}
body.dev .page .page-view{float:none;margin:0 auto;padding:5px 22px}
#login-container .page-view{max-width:720px;padding:7px 0}
#invitation-container .page-view{max-width:560px}
#confirm-introduce-container .page-view{max-width:560px}
#confirm-registration-container .page-view{max-width:540px}
#registration-success-container .page-view{max-width:540px}
#reset-password-container .page-view{max-width:540px}
#start-reset-password-container .page-view{max-width:540px}
body.dev .page .control-group{text-align:center}
body.dev .page .subheading{margin-bottom:15px}
body.dev .page .form-horizontal .control-label{width:130px}
body.dev .page .form-horizontal .controls{margin-left:150px}
body.dev .title_container_mobile{margin-top:55px}
body.dev .modal-footer .btn, #login-container .btn{width:190px;padding:6px 40px 6px 40px;margin-top:2px}

#login-container .btn{padding:6px 10px;width:145px}
#login-container h4, #login-container .subheading{margin-left:20px}
#login-container a:hover{text-decoration:none}
#login-container button{display:block;margin:10px auto 0}
#login-container #btn-register i{width:0}
#login-container #username{margin-top:38px}
#login-container #password{margin-bottom:15px}

#login-container .modal_errors{position:absolute;top:60px;left:0;width:50%}
#login-container .alert{width:80%;margin:0 auto}

#login-container a{color:#C30000}
#login-container a:hover{color:#FF0000}
#login-container .span12{text-align:center}
.login-footer{text-align:center;margin:8px 0}
.login-footer.clearfix button{float:left;margin-left:28px !important}
.login-footer .textlink{display:block;float:left;margin:7px 8px 0 36px}
.modal .subheading{margin-bottom:0}
.modal-footer{text-align:center}

#confirm-tos-dialog .modal-body{height:180px;overflow:hidden}
#confirm-tos-dialog .modal-body iframe{height:160px;width:100%}
iframe .WordSection1{width:506px}

.dev-teaser{background:#e9e9e9;margin-bottom:12px}
.dev-teaser div{display:block;float:left;width:40%}
.dev-teaser ul{display:block;float:left;width:60%;margin:4px 0}
.dev-teaser ul li{font-size:12px;margin:0 0 0 28px;padding:0}

.smallnote{font-size:11px;line-height:14px;margin:12px 16px}

.control-group.buttons{text-align:center}

#registration-success-container img{margin:0 10px}
#registration-success-container .modal-footer a{width:auto;padding:6px 29px;margin-top:2px}

#registration-sent-container p{margin-bottom:40px}

.auth-group{position:absolute;top:0;right:0;height:55px}
.auth-group a{display:block;color:#fff;float:right;height:55px;line-height:47px;margin:0 10px 0 0;width:51px;text-align:center}

#user-panel-toggle{color:#fff;line-height:21px;text-decoration:none;margin-right:15px}
#user-panel-toggle i{margin:4px 5px}
#user-panel{position:absolute;top:43px;right:20px;padding:10px;background-color:#fff;border:solid 1px #ccc;border-radius:8px;-moz-box-shadow:0 3px 4px #888;-webkit-box-shadow:0 3px 4px 888;box-shadow:0 3px 4px #888;-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='888')";filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#888');z-index:100}
#user-panel .col{float:left;text-align:left;min-width:80px;line-height:18px}
#user-panel .col2{float:left;text-align:right;margin-right:10px;min-width:80px}
#user-panel .user-username{font-size:15px}
#user-panel .user-company{color:#777;font-size:12px}
#user-panel .col2 a{color:#5C0000;text-decoration:underline}
#user-panel .btns{clear:both;text-align:center}
#user-panel .btns a{margin-top:15px}

/* alerts */
#error-alert{margin:-100px 0 0 -280px}
#general-alert{margin:-110px 0 0 -150px}
#confirm-alert{margin:-100px 0 0 -280px}
#invite-other-modal{margin:-160px 0 0 -150px}
#upload-server-jar{margin:-145px 0 0 -150px}
#confirm-tos-dialog{margin:-170px 0 0 -280px}

/* list view */
.table-striped thead tr{cursor:pointer}
.dropdown-menu li.active a{color:#fff}
.input{margin-bottom:10px}
.input-append{position:relative}
.input-append .btn-group{position:absolute;top:0;right:2px;z-index:2}
.input-append .btn-group .btn.dropdown-toggle{border-radius:0 !important}
.input-append .btn-group .btn-primary{border-radius:0 4px 4px 0;padding-left:20px;padding-right:20px;z-index:2;padding-bottom:5px}
.input-append .btn-group .btn-clear{border-radius:0;padding-left:20px;padding-right:20px;z-index:2;padding-bottom:2px}

.input-append{margin:12px 0}
.input-container{position:relative}
.input-container input{width:95%}

.table-bordered tr{cursor:pointer}

/* profile */

#profile-editor .form-horizontal{width:60%}
#profile-editor .form-horizontal .control-group{margin-right:20px}
#profile-save{margin:17px 0}
.password-inputs{background-color:#eee;padding:18px 0 3px}

/* support */

#contact-form{float:right}
#contact-form .row-fluid{margin-bottom:20px}
#contact-form .well{background:#eee}
#contact-form .well h4{margin-top:0}
#contact-form .captcha{margin:0 12px 0 5px}

/* docs */
.doc-list{background:#fff !important}
.BookTitle, #doc-content h1, #doc-content h2, #doc-content h3, #doc-content h4, #doc-content h5, #doc-content h6{font-family:"Titillium Web","Helvetica Neue",Helvetica,Arial,sans-serif !important;text-align:left !important;line-height:normal}
.TitleChapterTOC{margin:14px 0 3px !important;font-size:17px !important}
.BookTitle{margin-top:45px !important;font-size:26pt !important}
.Heading1TOC, .Heading2TOC, .Heading3TOC, .Title-Release-NoteTOC{margin:3px 0 3px 15px !important}
.TitleChapter{color:#222 !important}
.Version, .Revision{font-size:14px !important}
#doc-content{position:relative}
#doc-toc{padding-top:14px}
#doc-toc a, #doc-content a, #doc-content p, #doc-content span, #doc-content div, #doc-content em{font-family:"Titillium Web","Helvetica Neue",Helvetica,Arial,sans-serif !important}
.doc-section{display:none}
#doc-switch{position:absolute;top:20px;right:0}
#doc-switch .btn{margin-left:12px}

/* resources */
#resources-tabmenu{border-bottom:none;width:87%;margin:0 auto}
#resources-tabmenu li{width:16.6%}
#resources-tabmenu li a, #resources-tabmenu li a b, #resources-tabmenu li a span{display:block;text-align:center;font-size:13px;font-weight:normal}
#resources-tabmenu li a{border-radius:6px 6px 0 0;padding:8px 0;width:100%}
#resources-tabmenu li a img{width:100px}
#resources-tabmenu li.active a b{font-weight:bold}
#resources-tabmenu li a span{color:#888;font-size:11px}
#resources-tabmenu li a{background:none;border:none}
#resources-tabmenu li.active a{background:#eaeaea}
#resources-tabcontent{min-height:170px;background:url(../images/resources/rsrc_divider.png) no-repeat center top;background-size:100%;width:100%;margin:1px auto 20px;padding-bottom:30px}
#resources-tabcontent .tab-pane{width:91%;margin:0 auto}
#resources-tabcontent .screenshots{text-align:center}
#resources-tabcontent .screenshots a{text-decoration:none}
#resources-tabcontent .screenshots a img{margin:32px 10px 0;width:25%;max-width:145px;border:2px solid #999;box-shadow:2px 2px 2px #BBB}
#resources-tabcontent .screenshots a:hover img{border:solid 2px #333}
#resources-tabcontent .selector{width:100%;margin-bottom:20px;padding-top:14px;clear:both}
#resources-tabcontent .selector .caption{float:left;margin-right:12px;margin-top:7px}
#resources-tabcontent .selector .selector-options{float:left}
#resources-tabcontent .selector .selector-options a{outline:none;display:block;float:left;margin-right:6px}
#resources-tabcontent .selector .selector-options a img{border-radius:4px;border:solid 4px transparent}
#resources-tabcontent .selector .selector-options a:hover img{border:solid 4px #ccc}
#resources-tabcontent .selector .selector-options a.active img{border:solid 4px #777}
#resources-tabcontent .a-phone-btn{width:41px;height:63px;background:url(../images/resources/rsrc_vers_andrdfon.png) no-repeat center top}
#resources-tabcontent .a-tab-btn{width:80px;height:63px;background:url(../images/resources/rsrc_vers_andrdtab.png) no-repeat center top}
#resources-tabcontent .i-phone-btn{width:41px;height:63px;background:url(../images/resources/rsrc_vers_ifon.png) no-repeat center top}
#resources-tabcontent .i-pad-btn{width:80px;height:63px;background:url(../images/resources/rsrc_vers_ipad.png) no-repeat center top}
#resources-tabcontent .o-windows-btn{width:79px;height:73px;background:url(../images/resources/rsrc_vers_win.png) no-repeat center top}
#resources-tabcontent .o-linux-btn{width:84px;height:73px;background:url(../images/resources/rsrc_vers_linux.png) no-repeat center top}
#resources-tabcontent .o-mac-btn{width:70px;height:73px;background:url(../images/resources/rsrc_vers_osx.png) no-repeat center top}
#resources-tabcontent .a-phone-btn.active{background:url(../images/resources/rsrc_vers_andrdfon_sel.png) no-repeat center top}
#resources-tabcontent .a-tab-btn.active{background:url(../images/resources/rsrc_vers_andrdtab_sel.png) no-repeat center top}
#resources-tabcontent .i-phone-btn.active{background:url(../images/resources/rsrc_vers_ifon_sel.png) no-repeat center top}
#resources-tabcontent .i-pad-btn.active{background:url(../images/resources/rsrc_vers_ipad_sel.png) no-repeat center top}
#resources-tabcontent .o-windows-btn.active{background:url(../images/resources/rsrc_vers_win_sel.png) no-repeat center top}
#resources-tabcontent .o-linux-btn.active{background:url(../images/resources/rsrc_vers_linux_sel.png) no-repeat center top}
#resources-tabcontent .o-mac-btn.active{background:url(../images/resources/rsrc_vers_osx_sel.png) no-repeat center top}

.resources-samples-contents{padding:23px 0 8px}
.resources-samples-contents li{float:left;margin-right:10%}


/* documentation */
#resources .col50 p{margin:15px 0}
#resources .col50{width:50%;float:left;position:relative;text-align:center}
#resources .col50 .subheading{margin:6px 0 !important}
#resources .col50 strong{font-size:16px;margin-top:4px;display:block}
#resources .col50 b{margin-left:38px;text-align:left;display:block}
#resources .col50 ul li{margin-left:50px;text-align:left}
#resources .col50 .margins{margin:8px 3%}
#documentation .page-view{padding-bottom:32px}
.docs-container{clear:both;border-top:solid 2px #ddd;width:650px}
.docs-container .section{height:40px}
.docs-img{padding:8px 0;float:left;width:20%;text-align:center;margin-right:-1px}
.docs-img img{padding:8px 0}
.docs-download{text-align:left;font-size:16px;float:left;padding:8px 0;width:20%}
.docs-content{padding:8px 0;float:left;width:60%;position:relative}
.docs-content p.sectionhead{margin:4px 0 10px}
.docs-content ul{display:block;clear:both;width:100%;margin:0;padding:0}
.docs-content li{margin-left:40px;float:left}
.docs-content li.first{width:81px;margin:0;font-weight:bold;list-style-type:none}
.resource-titles{font-weight:bold;font-size:15px;text-align:center;margin-bottom:26px}
.col66{width:66%;float:left;position:relative;text-align:center}
.docs-container .divider{width:80%;height:1px;background:#ddd;color:ddd;float:right}


.footer{text-align:center;font-size:11px;color:#555;clear:both}

/********************************** get started **********************************/

#get-started .page-h4{color:#C30000;font-size:24px;margin-bottom:16px}
#get-started .page-view{margin:0 auto 25px auto;width:92%;padding:0 25px 0 25px;min-height:600px;padding-bottom:20px}
#get-started .row-fluid{overflow:hidden}
#get-started .tab-content{padding-bottom:25px}
#get-started .tab-pane{min-height:600px;margin-left:36px;overflow:hidden}
#get-started .tab-pane h5{font-size:18px;font-weight:bold;margin-top:30px;margin-bottom:43px}
#get-started .tab-pane h5 span{margin-left:20px;font-weight:normal;font-size:13px}
#get-started .nav-tabs{background-color:#e8eced;height:100%;position:absolute;top:0;left:0;border-radius:12px 0 0 12px;width:200px;border:none}
#get-started .nav-tabs li{position:relative}
#get-started .nav-tabs li.first{text-align:center;height:85px;display:block;width:100%}
#get-started .nav-tabs li img{display:none;position:absolute;top:0;right:-15px}
#get-started .nav-tabs li a, #get-started .nav-tabs li a:focus, #get-started .nav-tabs li a:hover, #get-started .nav-tabs li.active a{color:#333;outline:none;padding:0;margin:0;width:200px;height:142px;border:none;border-radius:0;text-align:center;font-size:18px;line-height:225px}
#gs-projectguide-tab a{background:url(../images/getstarted/gtstrtd_nav_1.png) no-repeat -11px 0}
#gs-ios-tab a{background:url(../images/getstarted/gtstrtd_nav_ios.png) no-repeat -13px 0}
#gs-server-tab a{background:url(../images/getstarted/gtstrtd_nav_srvr.png) no-repeat -13px 0}
#gs-android-tab a{background:url(../images/getstarted/gtstrtd_nav_andrd.png) no-repeat -13px 0}
#get-started .nav-tabs li.active img{display:inline}
#get-started .nav-tabs li:hover a{background-color:#D7E0E2}
#get-started .nav-tabs li.active a{background-color:#C1D6E1}
#get-started .tab-content{margin-left:200px;overflow:visible}
.guide-divider img{margin-bottom:3px;margin-left:68px}
.guide-divider-empty{height:20px}
.guide-row{position:relative}
.guide-row.odd{background:url(../images/getstarted/wizstart_bg_grad.png) repeat-y 0 0;background-color:#eee}
.guide-row > img{position:absolute;top:0;left:0}
.guide-content{padding:25px 0 10px}
.guide-content .row-fluid{margin-left:120px}
.guide-content .span7{margin-top:7px}
.guide-step{float:left;font-size:42px;color:#bbb;margin:10px 20px 0 31px;height:82px}
.guide-content span5{position:absolute;top:0;right:0}
.guide-content .btn{margin-top:16px}
.guide-content .btn.dbl{margin-top:0;margin-bottom:4px}
.guide-content .accordion-toggle{color:#333;padding:0 15px}
.guide-content .accordion-group{border:none}
.guide-content .accordion-heading p{margin:0 15px}
.guide-content .accordion-body{margin-top:8px}
.guide-content .accordion-inner{padding:9px 0}
.guide-content .accordion-inner h5{font-weight:bold;margin:20px 0 20px 0}
.guide-content .accordion-inner a img{box-shadow:2px 2px 2px #bbb;width:90%;border:solid 2px #999}
.guide-content .accordion-inner a:hover img{border:solid 2px #333}
.guide-content .icon{float:right}
#get-started #gs-default.tab-pane{margin-left:0}
#gs-default h5{margin-left:36px}
#gs-default .guide-row.odd{height:112px;margin:6px 0}
#gs-default .guide-row > img{float:left;margin:39px 0;position:relative}
#gs-default .guide-content{margin-left:10px;float:left;width:80%}

/********************************** project assets **********************************/

.pa-download{display:block;width:63px;height:51px;background:url('../images/assets/btn_download.png') no-repeat 0 0}
.pa-download:hover{text-decoration:none;background:url('../images/assets/btn_download_ovr.png') no-repeat 0 0}
.pa-viewdocs{display:block;width:40px;height:40px;background:url('../images/assets/btn_viewdocs.png') no-repeat 0 0}
.pa-viewdocs:hover{text-decoration:none;background:url('../images/assets/btn_viewdocs.png') no-repeat 0 0}
.pa-docs{display:block;width:63px;height:51px;background:url('../images/assets/btn_docs.png') no-repeat 0 0}
.pa-docs:hover{text-decoration:none;background:url('../images/assets/btn_docs_ovr.png') no-repeat 0 0}
.pa-deploy{margin:0 auto;display:block;width:194px;height:105px;background:url('../images/assets/btn_deploy.png') no-repeat 0 10px}
.pa-deploy:hover{text-decoration:none;background:url('../images/assets/btn_deploy_ovr.png') no-repeat 0 10px}
.pa-dlall{line-height:203px;margin:0 auto;display:block;width:210px;height:173px;background:url('../images/assets/btn_dlall.png') no-repeat 0 0}
.pa-dlall:hover{text-decoration:none;background:url('../images/assets/btn_dlall_ovr.png') no-repeat 0 0}

/********************************** project wizard **********************************/

/* project wizard */

.kineticjs-content{z-index:10;float:right;max-width:100%}
#project-wizard .page-view{margin:0 auto 25px auto;width:92%;padding:0 20px}
#project-name-editor{text-align:center;z-index:20;position:absolute;top:0;left:0;width:34%}
#project-name-editor-2 input, #project-name-editor-2 textarea{width:94%}
#project-name-editor-2{overflow:hidden;background:#eee;boxshadow:2px 2px 2px #ccc;z-index:20;position:absolute;top:0;left:4px;width:27%;border:solid 1px #bbb;border-radius:6px;padding:8px;margin-top:6px}
#project-wizard h3{margin-top:15px;font-size:18px;font-weight:bold}
#project-wizard h4{font-weight:bold}
.wizard-steps{text-align:center;width:100%}
.wizard-steps .btn{width:33.33%;cursor:pointer;color:#000;padding:6px 0}
.wizard-steps .btn.disabled{cursor:text;color:#999;background:#DEDEDE}
.wizard-steps .btn.active{cursor:text;background:#e2e2e2}

.tab_container{position:relative}
.wizard_content{overflow:auto;margin:0;width:100%}
.wizard_content.active{opacity:1}

.pw-target-devices{margin:12px 0 30px;padding:0}
.pw-target-devices li{margin-bottom:25px;float:left;height:82px;width:107px;list-style-type:none;text-align:center;position:relative}
.pw-target-devices li input{margin:8px 6px 0 0}
.pw-target-devices li div{position:absolute;bottom:0;left:0;width:120%;text-align:center;margin-top:6px}
.pw-target-devices li img.arrow{margin-top:16px}

/* misc */

#project-name-editor{margin-top:15px;font-size:18px;text-align:center}
#wizard-container{float:left !important;width:34%}
#wizard-content-container{margin-top:12px;float:left !important;width:66%;margin-left:0}

.col50{float:left;width:50%}
.col50.second{background:url('../images/signin_divider.png') repeat-y 0 0}

td.first{min-width:130px;vertical-align:top;padding:3px 0}

.page-loader{font-weight:bold;color:#555;padding:50px 0 30px;text-align:center}
.small-note{background:#EEE;border:1px solid #DDD;border-radius:4px;color:#444;font-size:11px;margin:5px 0;padding:5px}

.accordion-inner .input-group label{font-weight:bold;font-size:12px;margin-bottom:1px}

#core-encryption .clearfix{position:relative;margin-bottom:21px}
#core-dbconfig strong{display:block;padding:7px 0;text-align:left}
#core-dbconfig .well .accordion-inner{background:none;padding:6px 0}
#core-dbconfig .well .accordion-inner .btn-group{right:0}
#core-dbconfig .well .accordion-inner .well{background:#eee;margin-top:16px}
#core-encryption .clearfix .btn-group{margin-top:-5px}
#pw-core #core-APNS-fields .btn-group{position:relative;top:0;right:0}

#pw-summary #summary-components{margin-top:25px}
#pw-summary .span6{font-size:14px;text-align:left;margin-bottom:8px;padding:7px 0}
#pw-summary .span4{cursor:pointer;font-size:15px;text-align:center;margin-bottom:8px;padding:7px 0}

#pw-summary .summary-component{text-indent:72px;cursor:pointer;font-weight:bold;line-height:43px;font-size:15px;text-align:left;margin-bottom:8px;float:left}
#pw-summary .summary-text{font-size:14px;text-align:left;margin-left:10px;padding-top:13px;float:left}
#pw-summary .core{background:url('../images/wizard/summary_components.png') no-repeat 0 -50px;width:279px;height:49px}
#pw-summary .core:hover{background-position:0 0}
#pw-summary .samples{background:url('../images/wizard/summary_components.png') no-repeat 0 -150px;width:279px;height:49px}
#pw-summary .samples:hover{background-position:0 -100px}
#pw-summary .enterprise{background:url('../images/wizard/summary_components.png') no-repeat 0 -250px;width:279px;height:49px}
#pw-summary .enterprise:hover{background-position: 0 -200px}
#pw-summary .thirdparty{background:url('../images/wizard/summary_components.png') no-repeat 0 -350px;width:279px;height:49px}
#pw-summary .thirdparty:hover{background-position: 0 -300px}
#pw-summary .summary-text i{float:none;cursor:pointer}

.wizard_content .preview-status{font-weight:normal;font-size:1.2em}
.wizard_content .preview-status, .wizard_content i{float:right}
.wizard_content .well{margin:3px 0}
.wizard_content i{margin-top:3px}
.wizard_content .accordion-toggle i{margin-left:9px;background-position:-313px -119px}
.wizard_content .accordion-toggle.active i{background-position:-288px -120px}
.wizard_content .accordion-heading a{outline:none;font-weight:bold;padding-top:12px;padding-bottom:12px;font-size:1.15em;border-radius:0 16px 16px 0;background:#eee;color:#000;text-decoration:none}
.wizard_content .accordion-toggle.active{border-radius:0 16px 0 0}
.wizard_content .accordion-group{border:none;margin-bottom:5px}
.wizard_content .accordion-caption{width:65%}
.wizard_content .accordion-inner{min-height:30px;border:none;border-radius:0 0 16px 0;background:#eee;position:relative}
.wizard_content .accordion-inner .centered-text{float:right;font-weight:bold;line-height:4px;width:97px}
.wizard_content .accordion-inner .btn-group{position:absolute;top:5px;right:17px}
.wizard_content .accordion-inner .btn-group.disabled{opacity:.5}
.wizard_content .accordion-inner .btn-group.disabled .btn:focus, .wizard_content .accordion-inner .btn-group.disabled .btn:active{box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05)}
.wizard_content .radio-toggle{position:relative}

.main-btn{margin-top:18px}
a.main-btn{margin-left:20px}
.wizard_content strong{margin:5px 9px 0 0;text-align:right}


.optional-parameters{position:relative;border:solid 1px #ccc;border-radius:12px;margin-top:15px;background:#dfdfdf}
.optional-parameters.disabled{opacity:.4}
.optional-parameters .overlay{cursor:text !important;opacity:.4;position:absolute;top:0;left:0;width:100%;height:100%;z-index:100}
.optional-parameters div.title{text-indent:3px;border-radius:12px;background:#999;color:#fff;font-weight:bold;padding:3px}
.optional-parameters div.content{position:relative;padding:8px;border-radius:0 12px 0 12px}
.optional-parameters .disabler{width:100%;height:100%;z-index:1;background:fff;opacity:.7}

#pw-details-form label{font-weight:bold}
.span6.span2nd{min-height:150px}

#pw-enterprise .btn-group{display:block;margin:10px 0;padding:0;position:relative;top:0;left:0}
#pw-wsdl ul, #pw-services ul{margin:0;padding:4px 0}
#pw-wsdl ul li, #pw-services ul li{list-style-type:none;border-top:solid 1px #ccc;padding:4px 0}
#pw-wsdl li i{cursor:pointer;margin:4px 4px 4px}
#pw-wsdl-file, #pw-wsdl-wsdl-list{width:97%}
#pw-services li{list-style-type:none}
#pw-wsdl .span6, #pw-services .span6{padding:6px 0 0 16px}
#pw-wsdl .input-append{margin:12px 0 26px}
#pw-wsdl h4, #pw-services h4{margin:20px 0 12px}
#pw-wsdl .section-title{margin:0 0 18px 0;font-weight:bold}
.button-group button.main-btn{margin-left:15px}
#project-assets .main-btn, #sandbox .main-btn, #admin-details .main-btn, #mgmt-settings button, .button-group .btn{margin-bottom:25px}
#log-details-container h4{font-weight:bold;margin-top:35px}

#pw-wsdl-list{margin:0;padding:0}
#pw-wsdl-list li{border-radius:12px;padding:10px;background:#fff;margin:5px;list-style-type:none}
#pw-wsdl-list li i{cursor:pointer}

#pw-apns-list{margin:0;padding:0}
#pw-apns-list li{border-radius:12px;padding:10px;background:#fff;margin:5px;list-style-type:none}
#pw-apns-list li i{cursor:pointer}

/* new wizard */
#wizard-container{position:relative;text-align:right}
#wizard-step-title{margin-top:9px}
#wizard-step-title span{display:inline-block; vertical-align:middle;font-size:18px}
#wizard-step-title.step1{color:#00b333}
#wizard-step-title.step2{color:#8c00b3}
#wizard-step-title.step3{color:#c9ae36}
#wizard-step-title.step4{color:#00a6ff}
#wizard-step-title span.first{margin-right:10px;font-size:35px}
#wizard-diagram-canvas{position:absolute;top:0;left:0;z-index:100;width:100%;text-align:center}
#wizard-diagram-canvas p{text-align:left;margin-top:10px}
#project-details-container{padding:15px}
#project-wizard .tab_container > .row-fluid{padding-bottom:20px}
#project-details-container button{float:right}
#pw-intro{padding-bottom:40px}
#pw-intro .row-fluid{width:98%}
#wizard-intro-left{margin-top:13px;text-align:center;background:url('../images/signin_divider.png') no-repeat right top}
#wizard-intro-left img, #wizard-diagram-canvas img{width:52%;max-width:225px;margin-top:40px}
#wizard-intro-left img{margin-top:0}
#pw-intro .preview-title{margin:15px 0;font-size:16px;font-weight:bold}
#pw-intro img{float:left;margin-right:20px}
#pw-intro .section img{margin-left:15px;height:78px}
#pw-intro .divider img{margin-left:49px;height:30px}
#pw-intro .section{background:url('../images/gtstrtd_bg_grad.png') repeat-y 0 0;padding:10px 0 0}
#pw-intro .divider{padding:2px 0}
#pw-intro b{line-height:64px}
#pw-intro .divider div{float:left;font-size:14px;margin:5px 16px 0 34px}

#pw-samples .accordion-toggle{padding:3px 15px}
#pw-samples .accordion-toggle img{margin-right:12px;width:50px}
#pw-samples .accordion-toggle i{margin-top:16px}
#pw-samples .preview-status{margin-top:14px}

#pw-summary{overflow:visible}
.start-developing-section{position:relative;text-align:center;padding:14px 0 20px;border-bottom:solid 1px #bbb;margin:0 auto 23px;width:90%}
.start-developing-section h5{font-size:19px;margin-bottom:0}
.start-developing-section p{margin-top:1px}
.start-developing-section a.btn{margin:11px 0}
.start-developing-section .divider{position:absolute;bottom:-16px;left:0;width:100%;text-align:center}

.code-snippet{text-align:left;margin:15px 0}
.code-snippet p{margin:21px 0}
pre{margin:11px 0;color:#eee;background:#444;fonts-size:12px;padding:7px 0 7px 13px;box-shadow:2px 2px 2px #888}



/* <IE8 */
.lt-ie8 .span6.span2nd{padding:0}
.lt-ie8 .wizard_content{overflow:visible}

#admin .nav-tabs{width:90%;margin-left:15px;margin-top:15px}
#admin .nav{margin-bottom:-1px}
#admin .nav-tabs > li > a{outline:none;border:none;border:solid 1px #F7F7F7;border-bottom:none}
#admin .nav-tabs > li.active > a{border:solid 1px #ddd;border-bottom:none}
#admin .tab-content{background:#fff;border:solid 1px #ddd;margin-bottom:25px;border-radius:10px}
#admin h3{text-indent:5px}
#admin .tab-content > .active{padding:0 20px}
#admin-details .table tbody td{cursor:default}
#admin-details .buttons .pull-right{position:absolute;right:25px;top:20px}
#invite-user-container{margin:25px 0}

/*
 * Original version: 1.0 ? 2010 Andrew Valums ( andrew(at)valums.com )
 * Current Maintainer (2.0+): 2012, Ray Nicholus ( fineuploader(at)garstasio.com )
 *
 * Licensed under MIT license, GNU GPL 2 or later, GNU LGPL 2 or later, see license.txt.
 */
.qq-uploader{position:relative;width:100%}
/* .qq-upload-button{display:block;width:105px;padding:7px 0;text-align:center;border-bottom:1px solid #DDD;color:#FFF} */
.qq-upload-button-focus{outline:1px dotted #000}
.qq-upload-drop-area,.qq-upload-extra-drop-area{position:absolute;top:0;left:0;width:100%;height:100%;min-height:30px;z-index:2;background:#FF9797;text-align:center}
.qq-upload-drop-area span{display:block;position:absolute;top:50%;width:100%;margin-top:-8px;font-size:16px}
.qq-upload-extra-drop-area{position:relative;margin-top:50px;font-size:16px;padding-top:30px;height:20px;min-height:40px}
.qq-upload-drop-area-active{background:#FF7171}
.qq-upload-list{margin:0;padding:0;list-style:none}
.qq-upload-list li, .pw-wsdl-url-processing li{border:none;margin:10px 0 0 0 !important;padding:9px;line-height:15px;font-size:16px;background-color:#ddd}
.qq-upload-file,.qq-upload-spinner,.qq-upload-size,.qq-upload-cancel,.qq-upload-retry,.qq-upload-failed-text,.qq-upload-finished{margin-left:8px}
.qq-upload-spinner{display:inline-block;background:url(../images/loading.gif);width:15px;height:15px;vertical-align:middle}
.qq-upload-finished{display:none;width:15px;height:15px;vertical-align:text-bottom}
.qq-upload-retry{display:none;color:#000}
.qq-upload-cancel{color:#000}
.qq-upload-retryable .qq-upload-retry{display:inline}
.qq-upload-size,.qq-upload-cancel,.qq-upload-retry{font-size:12px;font-weight:normal}
.qq-upload-failed-text{display:none;font-style:italic;font-weight:bold}
.qq-upload-failed-icon{display:none;width:15px;height:15px;vertical-align:text-bottom}
.qq-upload-fail .qq-upload-failed-text{display:inline}
.qq-upload-retrying .qq-upload-failed-text{display:inline;color:#D60000}
.qq-upload-list li.qq-upload-success{background-color:#5DA30C;color:#FFF}
.qq-upload-list li.qq-upload-fail{background-color:#D60000;color:#FFF}
.qq-progress-bar{background:-moz-linear-gradient(top,rgba(30,87,153,1) 0,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(30,87,153,1)),color-stop(50%,rgba(41,137,216,1)),color-stop(51%,rgba(32,124,202,1)),color-stop(100%,rgba(125,185,232,1)));background:-webkit-linear-gradient(top,rgba(30,87,153,1) 0,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);background:-o-linear-gradient(top,rgba(30,87,153,1) 0,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);background:-ms-linear-gradient(top,rgba(30,87,153,1) 0,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);background:linear-gradient(to bottom,rgba(30,87,153,1) 0,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);width:0;height:15px;border-radius:6px;margin-bottom:3px;display:none}

.qq-uploader .btn{margin-right:8px}


/* lightbox 2 */
body:after{content:url(../images/lightbox/close.png) url(../images/lightbox/loading.gif) url(../images/lightbox/prev.png) url(../images/lightbox/next.png);display:none}
.lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:black;filter:alpha(opacity=80);opacity:.8;display:none}
.lightbox{position:absolute;left:0;width:100%;z-index:10000;text-align:center;line-height:0;font-weight:normal}
.lightbox .lb-image{display:block;height:auto;max-width:none;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px}
.lightbox a img{border:0}
.lb-outerContainer{position:relative;background-color:white;*zoom:1;width:250px;height:250px;margin:0 auto;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px}
.lb-outerContainer:after{content:"";display:table;clear:both}
.lb-container{padding:4px}
.lb-loader{position:absolute;top:43%;left:0;height:25%;width:100%;text-align:center;line-height:0}
.lb-cancel{display:block;width:32px;height:32px;margin:0 auto;background:url(../images/lightbox/loading.gif) no-repeat}
.lb-nav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10}
.lb-container>.nav{left:0}
.lb-nav a{outline:0}
.lb-prev,.lb-next{width:49%;height:100%;cursor:pointer;display:block}
.lb-prev{left:0;float:left}
.lb-prev:hover{background:url(../images/lightbox/prev.png) left 48% no-repeat}
.lb-next{right:0;float:right}
.lb-next:hover{background:url(../images/lightbox/next.png) right 48% no-repeat}
.lb-dataContainer{margin:0 auto;padding-top:5px;*zoom:1;width:100%;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px}
.lb-dataContainer:after{content:"";display:table;clear:both}
.lb-data{padding:0 4px;color:#bbb}
.lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}
.lb-data .lb-caption{font-size:13px;font-weight:bold;line-height:1em}
.lb-data .lb-number{display:block;clear:left;padding-bottom:1em;font-size:12px;color:#999}
.lb-data .lb-close{display:block;float:right;width:30px;height:30px;background:url(../images/lightbox/close.png) top right no-repeat;text-align:right;outline:0;filter:alpha(opacity=70);opacity:.7}
.lb-data .lb-close:hover{cursor:pointer;filter:alpha(opacity=100);opacity:1}
