    <div class="row-fluid">
        <div class="clearfix support-page page-view">
            <h4>Support</h4>

            <p class="subhead">Have a question? Need advice? Want to file a bug? Maybe you have an idea for a way we can collaborate.
                We welcome your inquiries and suggestions.</p>

            <div class="row-fluid">

                <div class="span6">

                    <h4>Frequently Asked Questions</h4>

                    <ul>
                        <li><a href="#faq-invitations">Account and Invitations</a></li>
                        <li><a href="#faq-projectwizard">Using the Project Wizard</a></li>
                        <li><a href="#faq-mabt">Using the Magnet Mobile App Builder</a></li>
                        <li><a href="#faq-ide">IDE support</a></li>
                    </ul>

                    <h5 id="faq-invitations">Account and Invitations</h5>

                    <b>Q. Can I change the email address that I use as my login id?</b>
                    <p class="ans">A. Not yet.  If you want to use another email account, you may send yourself an invitation request to that other address.</p>

                    <b>Q. What happens after I invite a friend?</b>
                    <p class="ans">A. After you enter their email address, they will receive an email to confirm the invitation request.  After they provide their information, their request will be submitted to the Developer Factory administrator to approve access.</p>

                    <h5 id="faq-projectwizard">Using the Project Wizard</h5>

                    <b>Q. What do I get once I complete the Project Wizard?</b>
                    <p class="ans">A. The Project Wizard creates a .zip file containing a  Mobile App Project Profile.</p>

                    <b>Q. What is a Magnet Mobile App Project Profile?</b>
                    <p class="ans">A. The Magnet Mobile App Project Profile is a file (with a .mapp extension) which contains the configuration properties of a Magnet Mobile App Project. The Profile can be imported into the Magnet Mobile App Builder to create a Project in your local environment.</p>

                    <b>Q. Can I create my own Magnet Mobile App Project Profile without using the Project Wizard?</b>
                    <p class="ans">A. Yes, it is possible to create your own Mobile App Project Profile. The best way to start is by creating a Mobile App Project Profile using the Project Wizard, and modifying the contents using a text editor of your choice. The ordering of the name-value pairs as created by Project Wizard must be intact, or else there may be errors when the Project is built using the Mobile App Builder.</p>

                    <b>Q. Is there any limit to the number of simultaneous projects I can have?</b>
                    <p class="ans">A. No, you may create as many projects as the storage on your local disk can support.</p>

                    <b>Q. Can I store the data I provided in the Project Wizard for future reference?</b>
                    <p class="ans">A. No. The data is only used to create the Mobile App Project Profile. However, you can download the Mobile App Project Profile and modify it as you prefer.</p>

                    <b>Q. Can I share my projects with other users in my company?</b>
                    <p class="ans">A. Not yet. Currently your account is an individual account. However, we will soon be adding that capability to the Developer Factory.</p>

                    <h5 id="faq-mabt">Using the Mobile App Builder</h5>

                    <b>Q. What is the Magnet Mobile App Builder?</b>
                    <p class="ans">A. The Mobile App Builder is a command line utility that allows a Magnet app developer to create a Project, add API modules, generate mobile assets, build the server, initialize a local or remote database, and manage the server app lifecycle (e.g. deploy, start, stop) either locally or in the cloud.</p>

                    <b>Q. How do I install the Mobile App Builder?</b>
                    <p class="ans">A. Instructions can be found in the <b>Step 2. Install and Run the Magnet Mobile App Builder</b> section of the <a href="/get-started/#gs-server">Get Started - Server Developer</a> page.</p>

                    <b>Q. How do I find out more information about a specific command?</b>
                    <p class="ans">A. The <b>help</b> command can be used as a prefix to find out additional information about a particular command. For example,
                        <pre>mab> help login</pre>
                    </p>

                    <h5 id="faq-ide">IDE Support</h5>

                    <b>Q. Does the generated sample project support Eclipse, IntelliJ, Xcode or other?</b>
                    <p class="ans">A. In the Android environment there is no built-in support for any particular Integrated Development Environment. However, the code is structured such that it can be used with any of them. On iOS, the project files are specifically designed to work with Xcode.</p>

                </div>

                <div id="contact-form" class="span6">
                    <div class="well form-horizontal">
                        <h4>Contact Us</h4>
                        <p>
                            For feedback and questions, please complete the form below, and a Magnet representative will follow up with you shortly.
                            For general inquires, please use the contact form at the <a href="http://www.magnet.com/contact/">Magnet website</a>.
                        </p>
                        <div class="modal_errors" style="display:none">
                            <div class="alert alert-error">
                                <strong></strong> <span></span>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <label>Type of Inquiry</label>
                                <select class="span12" name="type">
                                    <option value="Comment">Comment</option>
                                    <option value="Question">Question</option>
                                </select>
                            </div>
                        </div>
                        {{ if(typeof sessionUser == 'undefined'){ }}
                        <div class="row-fluid">
                            <div class="span12">
                                <label>Name</label>
                                <input type="text" name="fullname" class="span12" placeholder="Name">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <label>Email Address</label>
                                <input type="text" name="emailaddress" class="span12" placeholder="Email Address">
                            </div>
                        </div>
                        {{ } }}
                        <div class="row-fluid">
                            <div class="span12">
                                <label>Subject</label>
                                <input type="text" name="sub" class="span12" placeholder="Subject">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <label>Message</label>
                                <textarea name="msg" class="span12" placeholder="Message"></textarea>
                            </div>
                        </div>
                        {{ if(typeof sessionUser == 'undefined' && typeof captcha != 'undefined' && captcha === true){ }}
                        <div class="row-fluid">
                            <div class="span12">
                                <label>Spam Protection</label>
                                <script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=6LcVfO8SAAAAAD1haiOFt2ZXQHDW-OpS5WiCT64Q"></script>
                                <noscript>
                                    <iframe src="https://www.google.com/recaptcha/api/noscript?k=6LcVfO8SAAAAAD1haiOFt2ZXQHDW-OpS5WiCT64Q" height="300" width="500" frameborder="0"></iframe><br>
                                    <textarea name="recaptcha_challenge_field" rows="3" cols="40"> </textarea>
                                    <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
                                </noscript>
                            </div>
                        </div>
                        {{ } }}
                        <div class="row-fluid">
                            <div class="span12">
                                <button id="send-contact" type="button" class="btn btn-primary">Send Contact Request</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

