
<div id="get-started" class="row-fluid page-view">
<h4 class="page-h4">Get Started</h4>
<ul class="nav nav-tabs">
    <li id="gs-projectguide-tab" class="active"><a href="#gs-projectguide">Project Guide</a></li>
    <li id="gs-android-tab"><a href="#gs-android">Android Developer</a></li>
    <li id="gs-ios-tab"><a href="#gs-ios">iOS Developer</a></li>
    <li id="gs-server-tab"><a href="#gs-server">Server Developer</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="gs-projectguide">
    <h4>Project Guide</h4> <!--The process below outlines a typical project process.-->
    <div class="guide-container">
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_mbprj_1.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span7">
                        <div class="guide-step">1</div>
                        <div>
                            <b>Get Mobile Project</b>
                            <p>Get started with a project template for your mobile app.</p>
                        </div>
                    </div>
                    <div class="span5">
                        <a class="btn dbl">Get Android Project</a><br />
                        <a href="/resources/files/iOS-JumpStartApp.zip" class="btn dbl">Get Xcode Project for iOS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-row">
            <img src="../images/getstarted/gtstrtd_mbprj_2.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span7">
                        <div class="guide-step">2</div>
                        <div>
                            <b>Use Quickstart Wizard</b>
                            <p>Choose from a list of sample services and provide your own APIs.</p>
                        </div>
                    </div>
                    <div class="span5">
                        <a class="btn" href="/dev/#/project-wizard">Quickstart Wizard</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_mbprj_3.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span7">
                        <div class="guide-step">3</div>
                        <div>
                            <b>Run Magnet App Builder Tool</b>
                            <p>Use the tool to create mobile and server project files.</p>
                        </div>
                    </div>
                    <div class="span5">
                        <a class="btn" href="/resources/files/mab.zip">Download App Builder Tool</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-row">
            <img src="../images/getstarted/gtstrtd_mbprj_4.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span7">
                        <div class="guide-step">4</div>
                        <div>
                            <b>Share Project Files</b>
                            <p>Distribute mobile and server project files among team members.</p>
                        </div>
                    </div>
                    <div class="span5">
                        <a class="btn">Go to Documentation</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_mbprj_5.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span7">
                        <div class="guide-step">5</div>
                        <div>
                            <b>Build Your App</b>
                            <p>Use the project files to develop your mobile app.</p>
                        </div>
                    </div>
                    <div class="span5">
                        <a class="btn">Go to Documentation</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-row">
            <img src="../images/getstarted/gtstrtd_mbprj_6.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span7">
                        <div class="guide-step">6</div>
                        <div>
                            <b>Deploy Your App</b>
                            <p>Deploy to the cloud or your local development environment.</p>
                        </div>
                    </div>
                    <div class="span5">
                        <a class="btn">Go to Documentation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane" id="gs-ios">
    <h4>iOS Developer</h4>
    <p>The topics below will help the iOS Developer get started.</p>
    <div class="guide-container">
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_ios.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="guide-step">1</div>
                        <div>
                            <b>Start iOS Project</b>
                            <p>
                                <b>Option 1</b> Download the <a href="/resources/files/iOS-JumpStartApp.zip">Jumpstart App</a><br />
                                <b>Option 2</b> Start your own app project and add the Magnet Mobile Framework yourself.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-divider">
            <img src="../images/getstarted/gtsrtd_act_dots.png" />
        </div>
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_xcode.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="guide-step">2</div>
                        <div>
                            <b>Include Project Libraries</b>
                            <p>Here is how to include your project libraries into your IDE using Command Line.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-divider">
            <img src="../images/getstarted/gtsrtd_act_dots.png" />
        </div>
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_hellow.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="guide-step">3</div>
                        <div>
                            <b>Build Your App</b>
                            <p>Check the Hello World implementation on how to call a controller.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane" id="gs-server">
    <h4>Server Developer</h4>
    <p>The topics below will help the Server Developer get started.</p>
    <div class="guide-container">
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_wizard.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="guide-step">1</div>
                        <div>
                            <b>Use the Quick Start Wizard</b>
                            <p>
                                Choose from a list of sample services, provide your own APIs, and receive a Magnet
                                App Project Profile (.mapp) that can be used to generate your mobile app project files.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-divider">
            <img src="../images/getstarted/gtsrtd_act_dots.png" />
        </div>
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_tool.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="guide-step">2</div>
                        <div>
                            <b>Install and Run the Magnet App Builder Tool</b>
                            <p>Using your Magnet App Project Profile (.mapp), the Magnet App Builder Tool creates the mobile
                                and server project files to be used for development.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-divider">
            <img src="../images/getstarted/gtsrtd_act_dots.png" />
        </div>
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_java.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="guide-step">3</div>
                        <div>
                            <b>Build your Magnet Mobile App Server Runtime</b>
                            <p>Using the project files created by the Magnet App Builder Tool, develop your Magnet Mobile App
                                Server Runtime.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-divider">
            <img src="../images/getstarted/gtsrtd_act_dots.png" />
        </div>
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_mmas.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="guide-step">4</div>
                        <div>
                            <b>Run your Magnet Mobile App Server Runtime</b>
                            <p>Deploy your Magnet Mobile App Server Runtime to your local environment or to the cloud.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-divider">
            <img src="../images/getstarted/gtsrtd_act_dots.png" />
        </div>
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_extend.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="guide-step">5</div>
                        <div>
                            <b>Extend your Magnet Mobile App Server Runtime</b>
                            <p>Check the existing controllers and learn how to add your own custom controllers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane" id="gs-android">
    <h4>Android Developer</h4>
    <p>The topics below will help the Android Developer get started.</p>
    <div class="guide-container">
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_android.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="guide-step">1</div>
                        <div>
                            <b>Start Android Project</b>
                            <p>
                                <b>Option 1</b> Download the <a href="#">Jumpstart App</a><br />
                                <b>Option 2</b> Start your own app project and include the Magnet Mobile Server Library.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-divider">
            <img src="../images/getstarted/gtsrtd_act_dots.png" />
        </div>
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_eclps.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="guide-step">2</div>
                        <div>
                            <b>Include Mobile Project Library</b>
                            <p>Include your Mobile Project Library into your app project using Command Line.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-divider">
            <img src="../images/getstarted/gtsrtd_act_dots.png" />
        </div>
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_hellow.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="guide-step">3</div>
                        <div>
                            <b>Build Your App</b>
                            <p>Check the Jumpstart app and learn how to call an existing controller or add your own controllers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>