
<div id="get-started" class="row-fluid page-view">
<ul class="nav nav-tabs">
    <li class="first">
        <h4 class="page-h4">Get Started</h4>
    </li>
    <!-- <li id="gs-projectguide-tab" class="active"><a href="#gs-projectguide">Project Guide</a></li> -->
    <li id="gs-android-tab" class="active">
        <a href="#gs-android">Android Developer</a>
        <img src="/images/getstarted/gtstrtd_nav_selbg.png" />
    </li>
    <li id="gs-ios-tab">
        <a href="#gs-ios">iOS Developer</a>
        <img src="/images/getstarted/gtstrtd_nav_selbg.png" />
    </li>
    <li id="gs-server-tab">
        <a href="#gs-server">Server Developer</a>
        <img src="/images/getstarted/gtstrtd_nav_selbg.png" />
    </li>
</ul>
<div class="tab-content">
<div class="tab-pane"  id="gs-ios">
    <h5>iOS Developer <span>The topics below will help the iOS Developer get started.</span></h5>
    <div class="guide-container">
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_ios.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div id="acc-ios-1" class="accordion">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#acc-ios-1" href="#acc-ios-1-inner">
                                        <b>Start with Magnet Jumpstart App</b>
                                        <i class="icon icon-chevron-down"></i>
                                    </a>
                                    <p>Get started quickly using the Jumpstart App as a template for your development
                                        by downloading the iOS Jumpstart App from GitHub.</p>
                                </div>
                                <div id="acc-ios-1-inner" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <h5>Download the iOS Jumpstart App from GitHub.</h5>
                                        <ol>
                                            <li>
                                                Download and install Git from the <a href="http://git-scm.com/" target="_blank">Git website</a>.
                                            </li>
                                            <li>
                                                <p>From <b>Terminal</b>, navigate to the directory where you would like to install the
                                                    Jumpstart App and clone the Jumpstart App using the following command.</p>
                                                <pre>$ git clone git@github.com:magnetsystems/jumpstart-ios.git --recursive</pre>
                                            </li>
                                            <li>
                                                <p>To test round-trip connectivity between the server and client, run the Jumpstart
                                                    App and login to app using the credentials below. The Jumpstart app is preconfigured
                                                    to connect with a Jumpstart server app hosted by Magnet on AWS.</p>
                                                <b>Username:</b> snowman<br />
                                                <b>Password:</b> jumper
                                            </li>
                                        </ol>
                                        <h5>Add custom Magnet API libraries</h5>
                                        <p>To install custom Magnet API libraries into your project, drag and drop the API library
                                        into the <b>Factory/Generated</b> directory.</p>
                                        <a href="/images/getstarted/screen_ios_api_add.png" data-lightbox="ios-1-img-1">
                                            <img src="/images/getstarted/screen_ios_api_add.png"  />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="guide-divider-empty"></div>
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_xcode.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div id="acc-ios-2" class="accordion">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#acc-ios-2" href="#acc-ios-2-inner">
                                        <b>Start with your Own App</b>
                                        <i class="icon icon-chevron-down"></i>
                                    </a>
                                    <p>The Magnet iOS SDK provides various Magnet features. Import the Magnet iOS
                                    SDK into your own Android app to leverage Magnet Mobile Server features.</p>
                                </div>
                                <div id="acc-ios-2-inner" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <h5>Import the Magnet iOS SDK into your own iOS app</h5>
                                        <p>Install CocoaPods if not yet installed.</p>
                                        <pre>$ sudo gem install cocoapods</pre>
                                        <pre>$ pod setup</pre>
                                        <p>Change to the directory of your Xcode project, and Create and Edit your
                                        Podfile and add Magnet Mobile Server:</p>
                                        <pre>$ cd /path/to/MyProject</pre>
                                        <pre>$ touch Podfile</pre>
                                        <pre>$ edit Podfile</pre>
                                        <p>Copy and paste the following commands into the PodFile.</p>
                                        <pre>platform :ios, '6.0'<br/>pod 'MagnetMobileServer', :git => 'ssh://git@github.com/magnetsystems/iOS.git'</pre>
                                        <p>Install the SDK into your project by navigating to the project directory and executing the following command.</p>
                                        <pre>$ pod install</pre>
                                        <p>Open your project in Xcode from the .xcworkspace file (not the usual project file).</p>
                                        <hr />
                                        <p><b>Note:</b> Please note that if your installation fails, it may be because you are installing with a version of Git
                                            lower than CocoaPods is expecting. Please ensure that you are running Git &gt;= 1.8.0 by executing git --version.
                                            You can get a full picture of the installation  details by executing pod install --verbose.</p>
                                        <h5>Add custom Magnet API libraries</h5>
                                        <p>To install custom Magnet API libraries into your project, drag and drop the API library
                                            into the <b>Factory/Generated</b> directory.</p>
                                        <a href="/images/getstarted/screen_ios_api_add.png" data-lightbox="ios-2-img-2">
                                            <img src="/images/getstarted/screen_ios_api_add.png" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane" id="gs-server">
    <h5>Server Developer <span>The topics below will help the Server Developer get started.</span></h5>
    <div class="guide-container">
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_wizard.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="guide-step">1</div>
                        <div>
                            <b>Use the Project Wizard</b>
                            <p>
                                Choose from a list of sample services, provide your own APIs, and receive a Magnet
                                App Project Profile (.mapp) that can be used to generate your mobile app project files.
                            </p>
                            <a href="/dev/" class="btn">Launch Project Wizard</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-divider">
            <img src="../images/getstarted/gtsrtd_act_dots.png" />
        </div>
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_tool.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="guide-step">2</div>
                        <div id="acc-server-2" class="accordion">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#acc-server-2" href="#acc-server-2-inner">
                                        <b>Install and Run the Magnet Mobile App Builder Tool</b>
                                        <i class="icon icon-chevron-down"></i>
                                    </a>
                                    <p>Using your Magnet Mobile App Project Profile (.mapp), the Magnet Mobile App Builder Tool creates the mobile
                                        and server project files to be used for development.</p>
                                </div>
                                <div id="acc-server-2-inner" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <h5>Software required by the Mobile App Builder Tool:</h5>
                                        <ol>
                                            <li>Groovy 2.0 and above </li>
                                            <li>Java 7</li>
                                            <li>Maven 3.0.5 </li>
                                            <li>MySQL Community Server 5.5 GA</li>
                                        </ol>
                                        <h5>How to install the  Mobile App Builder Tool:</h5>
                                        <ol>
                                            <li>Download the <a target="_blank" href="/resources/files/mab.zip">Magnet Mobile App Builder Tool</a>.</li>
                                            <li>Unzip the archive to a directory of your choice. We recommend <b>$HOME/magnet</b>.</li>
                                            <li>
                                                For the Mobile App Builder Tool to be accessible from any directory, consider adding
                                                <b>&lt;install-directory&gt;/mab/bin</b> to your PATH environment variable.
                                            </li>
                                        </ol>
                                        <p>For detailed installation instructions, see the <a href="/docs/mobile_app_builder">Magnet Mobile App Builder Tool User Manual</a></p>

                                        <h5>Basic commands to get you started with the Mobile App Builder Tool.</h5>
                                        <div class="code-snippet">
                                            <p>Run the Tool in non-interactive mode by invoking <b>mab</b> with a command as an argument. The command (and any of its options and arguments) will be executed.</p>
                                            <pre>$ mab project-use myfirstproject</pre>
                                            <p>Run the Tool in interactive mode, allowing commands to be entered at the prompt until you exit the Tool. The commands below assume that the Tool was run in interactive mode.</p>
                                            <pre>$ mab</pre>
                                            <p>Use the <b>help</b> command to see the list of commands currently supported and get information about a particular command.</p>
                                            <pre>mab> help</pre>
                                            <p>Login using your Developer Factory username and password to enable all the features of the Tool.</p>
                                            <pre>mab> login -u newuser -p userpass</pre>
                                        </div>
                                        <p>For more information, see the <a href="/docs/mobile_app_builder">Magnet Mobile App Builder Tool User Manual</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-divider">
            <img src="../images/getstarted/gtsrtd_act_dots.png" />
        </div>
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_java.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="guide-step">3</div>
                        <div id="acc-server-3" class="accordion">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#acc-server-3" href="#acc-server-3-inner">
                                        <b>Create and Build Your Mobile App Project</b>
                                        <i class="icon icon-chevron-down"></i>
                                    </a>
                                    <p>Create and build your Mobile App Project using the Mobile App Project Profile you generated using the Project Wizard.</p>
                                </div>
                                <div id="acc-server-3-inner" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <h5>Create and build a project</h5>
                                        <div class="code-snippet">
                                            <p>Create a Mobile App Project using a Mobile App Project Profile into your desired directory.</p>
                                            <pre>mab> project-create -o Documents/dev/projects -p Documents/Dev/projects/new-project1.zip</pre>
                                            <p>Build the server and Java APIs associated with the current project.</p>
                                            <pre>mab> project-build</pre>
                                        </div>
                                        <h5>Initialize the database and set up a user</h5>
                                        <div class="code-snippet">
                                            <p>Create the MySQL system database used by your mobile app. If you enabled the app database in the Project Wizard, the app database will also be created.</p>
                                            <pre>mab> db-initialize</pre>
                                            <p>Optionally create a user in the system database for user authentication by specifying the username and password of the user.</p>
                                            <pre>mab> user-create newuser newpass</pre>
                                        </div>
                                        <p>For more information, see the <a href="/docs/mobile_app_builder">Magnet Mobile App Builder Tool User Manual</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-divider">
            <img src="../images/getstarted/gtsrtd_act_dots.png" />
        </div>
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_mmas.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="guide-step">4</div>
                        <div id="acc-server-4" class="accordion">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#acc-server-4" href="#acc-server-4-inner">
                                        <b>Run your Magnet Mobile App Server Runtime</b>
                                        <i class="icon icon-chevron-down"></i>
                                    </a>
                                    <p>Deploy your Magnet Mobile App Server Runtime to your local environment.</p>
                                </div>
                                <div id="acc-server-4-inner" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <h5>Deploy the Magnet Mobile App Server Runtime</h5>
                                        <p>The following commands assume that the project has already been built (using the <b>project-build</b> command).</p>
                                        <div class="code-snippet">
                                            <p>Start the Mobile App Server Runtime locally.</p>
                                            <pre>mab> server-start</pre>
                                            <p>To verify that the server is running and to view a list of controllers, open the following url in your browser.</p>
                                            <pre>http://localhost:8080/</pre>
                                            <p>View a list of running Mobile App Server Runtimes.</p>
                                            <pre>mab> server-list</pre>
                                            <p>Stop the Mobile App Server Runtime.</p>
                                            <pre>mab> server-stop</pre>
                                        </div>
                                        <p>For more information including how to deploy to an AWS cloud instance, see the <a href="/docs/mobile_app_builder">Magnet Mobile App Builder Tool User Manual</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-divider">
            <img src="../images/getstarted/gtsrtd_act_dots.png" />
        </div>
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_extend.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="guide-step">5</div>
                        <div id="acc-server-5" class="accordion">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#acc-server-5" href="#acc-server-5-inner">
                                        <b>Extend your Magnet Mobile App Server Runtime</b>
                                        <i class="icon icon-chevron-down"></i>
                                    </a>
                                    <p>Check the existing controllers and learn how to add your own custom controllers.</p>
                                </div>
                                <div id="acc-server-5-inner" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <h5>Add a custom controller</h5>
                                        <p>A single command is used to add different controllers to your current project. The following commands assume that you are logged in to the Mobile App Builder Tool and that a project has been created (using <b>project-create</b> or <b>project-import</b>).</p>
                                        <div class="code-snippet">
                                            <p>Add a WSDL-based controller of type document/literal or rpc/literal. You will be asked to enter additional information about the WSDL.</p>
                                            <pre>mab> api-add -t ws</pre>
                                            <p>Add a WSDL-based controller of type rpc/encoded.</p>
                                            <pre>mab> api-add -t rpc</pre>
                                            <p>Add a WADL-based controller.</p>
                                            <pre>mab> api-add -t rs</pre>
                                            <p>Add the Magnet Hello World Controller sample to your project.</p>
                                            <pre>mab> api-add -t simple</pre>
                                            <p>Add a Magnet Third Party controller (currently <b>facebook</b>, <b>linkedin</b>, and <b>salesforce</b> are supported).</p>
                                            <pre>mab> api-add -t facebook</pre>
                                            <p>After adding the controllers, the project must be re-built and re-deployed for the changes to take effect.</p>
                                            <pre>mab> project-build</pre>
                                            <pre>mab> server-deploy</pre>
                                            <pre>mab> server-start</pre>
                                        </div>
                                        <p>For more information, see the <a href="/docs/mobile_app_builder">Magnet Mobile App Builder Tool User Manual</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane active" id="gs-android">
    <h5>Android Developer <span>The topics below will help the Android Developer get started.</span></h5>
    <div class="guide-container">
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_android.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div id="acc-android-1" class="accordion">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#acc-android-1" href="#acc-android-1-inner">
                                        <b>Start with Magnet Jumpstart App</b>
                                        <i class="icon icon-chevron-down"></i>
                                    </a>
                                    <p>Get started quickly using the Jumpstart App as a template for your development
                                    by downloading the Android Jumpstart App from GitHub.</p>
                                </div>
                                <div id="acc-android-1-inner" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <h5>Download the Android Jumpstart App from GitHub.</h5>
                                        <ol>
                                            <li>
                                                Download and install Git from the <a href="http://git-scm.com/" target="_blank">Git website</a>.
                                            </li>
                                            <li>
                                                <p>From <b>Terminal</b>, navigate to the directory where you would like to install the
                                                Jumpstart App and clone the Jumpstart App using the following command.</p>
                                                <pre>$ git clone git@github.com:magnetsystems/jumpstart-android.git --recursive</pre>
                                            </li>
                                            <li>
                                                <p>To test round-trip connectivity between the server and client, run the Jumpstart
                                                    App and login to app using the credentials below. The Jumpstart app is preconfigured
                                                    to connect with a Jumpstart server app hosted by Magnet on AWS.</p>
                                                <b>Username:</b> snowman<br />
                                                <b>Password:</b> jumper
                                            </li>
                                        </ol>
                                        <h5>Add custom Magnet API libraries</h5>
                                        <ol>
                                            <li>Copy custom Magnet API libraries to <b>./libs</b> directory. This is
                                                typically generated from a local server build provided by your server team.
                                            </li>
                                            <li> Regenerate Magnet platform service mapping library using shell script, <b>install-lib.sh</b>:<br />
                                                <pre>$ sh ../sdk-android/magnet-tools/install-libs.sh ../sdk-android/libproject/2.1.0 ./libs</pre>
                                            </li>
                                        </ol>
                                        <p><b>IMPORTANT:</b> It's highly recommended that you make a backup copy of the original <b>./libs</b>
                                            directory before introducing a new API library to <b>libs</b> directory.</p>

                                        <p>For more information, visit the <a target="_blank" href="https://github.com/magnetsystems/jumpstart-android">
                                            Android Jumpstart App GitHub Project</a>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-divider-empty"></div>
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_eclps.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div id="acc-android-2" class="accordion">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#acc-android-2" href="#acc-android-2-inner">
                                        <b>Start with your Own App</b>
                                        <i class="icon icon-chevron-down"></i>
                                    </a>
                                    <p>The Magnet Android SDK provides various Magnet features. Import the Magnet Android
                                    SDK into your own Android app to leverage Magnet Mobile Server features.</p>
                                </div>
                                <div id="acc-android-2-inner" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <h5>Import the Magnet Android SDK into your own Android app</h5>
                                        <ol>
                                            <li>
                                                From directory of your Android application project, install the Magnet Android sdk
                                                to your application using relative path to the SDK directory. For example, assuming
                                                the SDK directory is one level above the application project directory named <b>sdk-android</b>:
                                                <pre>$ sh ../sdk-android/magnet-tools/install-libs.sh ../sdk-android/libproject/2.1.0 ./libs</pre>
                                            </li>
                                        </ol>

                                        <h5>Add custom Magnet API libraries</h5>
                                        <p>In order to use custom controller APIs, the library must be integrated to your application build
                                            using <b>install-libs</b> script. The API library is typically generated from a local server build
                                            provided by your server team.</p>
                                        <ol>
                                            <li>First, copy custom Magnet controller api library jar files to the directory where all dependent
                                                libraries are stored, typically <b>libs</b>.</li>
                                            <li>Then, regenerate Magnet platform service mapping library using the script, <b>install-libs.sh</b> as described above.
                                                <pre>$ sh ../sdk-android/magnet-tools/install-libs.sh ../sdk-android/libproject/2.1.0 ./libs</pre>
                                            </li>
                                        </ol>
                                        <p><b>IMPORTANT:</b> It's highly recommended that you make a backup copy of the original <b>./libs</b>
                                            directory before introducing a new API library to <b>libs</b> directory.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>