
<div id="get-started" class="row-fluid page-view">
<ul class="nav nav-tabs">
    <li class="first">
        <h4 class="page-h4">Get Started</h4>
    </li>
    <!-- <li id="gs-projectguide-tab" class="active"><a href="#gs-projectguide">Project Guide</a></li> -->
    <li id="gs-android-tab" class="active"><a href="#gs-android">Android Developer</a></li>
    <li id="gs-ios-tab"><a href="#gs-ios">iOS Developer</a></li>
    <li id="gs-server-tab"><a href="#gs-server">Server Developer</a></li>
</ul>
<div class="tab-content">
<!--
<div class="tab-pane active" id="gs-projectguide">
    <h5>Project Guide <span>The guide below outlines the typical development process.</span></h5>
    <div class="guide-container">
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_mbprj_1.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span7">
                        <div class="guide-step">1</div>
                        <div>
                            <b>Get Mobile Project</b>
                            <p>Get started with a project template for your mobile app.</p>
                        </div>
                    </div>
                    <div class="span5">
                        <a href="https://github.com/magnetsystems/jumpstart-android" target="_blank" class="btn dbl">Android Jumpstart App</a><br />
                        <a href="https://github.com/magnetsystems/jumpstart-ios" class="btn dbl">iOS Jumpstart App</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-row">
            <img src="../images/getstarted/gtstrtd_mbprj_2.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span7">
                        <div class="guide-step">2</div>
                        <div>
                            <b>Use the Project Wizard</b>
                            <p>Choose from a list of sample services and provide your own APIs.</p>
                        </div>
                    </div>
                    <div class="span5">
                        <a class="btn" href="/dev/">Project Wizard</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_mbprj_3.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span7">
                        <div class="guide-step">3</div>
                        <div>
                            <b>Run Magnet Mobile App Builder Tool</b>
                            <p>Use the tool to create mobile and server project files.</p>
                        </div>
                    </div>
                    <div class="span5">
                        <a class="btn" href="/resources/files/mab.zip">Download Mobile App Builder Tool</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-row">
            <img src="../images/getstarted/gtstrtd_mbprj_4.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span7">
                        <div class="guide-step">4</div>
                        <div>
                            <b>Share Project Files</b>
                            <p>Distribute mobile and server project files among team members.</p>
                        </div>
                    </div>
                    <div class="span5">
                        <a class="btn">Go to Documentation</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_mbprj_5.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span7">
                        <div class="guide-step">5</div>
                        <div>
                            <b>Build Your App</b>
                            <p>Use the project files to develop your mobile app.</p>
                        </div>
                    </div>
                    <div class="span5">
                        <a class="btn">Go to Documentation</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-row">
            <img src="../images/getstarted/gtstrtd_mbprj_6.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span7">
                        <div class="guide-step">6</div>
                        <div>
                            <b>Deploy Your App</b>
                            <p>Deploy to the cloud or your local development environment.</p>
                        </div>
                    </div>
                    <div class="span5">
                        <a class="btn">Go to Documentation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<div class="tab-pane"  id="gs-ios">
    <h5>iOS Developer <span>The topics below will help the iOS Developer get started.</span></h5>
    <div class="guide-container">
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_ios.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div id="acc-ios-1" class="accordion">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#acc-ios-1" href="#acc-ios-1-inner">
                                        <b>Start With Magnet Jumpstart App</b>
                                        <i class="icon icon-chevron-down"></i>
                                    </a>
                                    <p>Get started quickly and use the Jumpstart App as a template for your development
                                        by downloading the iOS Jumpstart App from GitHub.</p>
                                </div>
                                <div id="acc-ios-1-inner" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <h5>Downloading the iOS Jumpstart App from GitHub.</h5>
                                        <ol>
                                            <li>
                                                Download and install Git from the <a href="http://git-scm.com/" target="_blank">Git website</a>.
                                            </li>
                                            <li>
                                                <p>From <b>Terminal</b>, navigate to the directory where you would like to install the
                                                    Jumpstart App and clone the Jumpstart App using the following command.</p>
                                                <pre>$ git clone git@github.com:magnetsystems/jumpstart-ios.git --recursive</pre>
                                            </li>
                                            <li>
                                                <p>To test round-trip connectivity between the server and client, run the Jumpstart
                                                    App and login to app using the credentials below. The Jumpstart app is preconfigured
                                                    to connect with a Jumpstart server app hosted by Magnet on AWS.</p>
                                                <b>Username:</b> snowman<br />
                                                <b>Password:</b> jumper
                                            </li>
                                        </ol>
                                        <h5>Build Your App</h5>
                                        <p>Coming Soon</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="guide-divider-empty"></div>
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_xcode.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div id="acc-ios-2" class="accordion">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#acc-ios-2" href="#acc-ios-2-inner">
                                        <b>Start With my Own App</b>
                                        <i class="icon icon-chevron-down"></i>
                                    </a>
                                    <p>The Magnet iOS SDK provides various Magnet features. Learn how
                                        to import the Magnet iOS SDK into your own Android app to leverage
                                        Magnet Mobile Server features.</p>
                                </div>
                                <div id="acc-ios-2-inner" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <h5>Importing the Magnet iOS SDK into your own iOS app</h5>
                                        Coming Soon.
                                        <h5>Build Your App</h5>
                                        <p>Coming Soon</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane" id="gs-server">
    <h5>Server Developer <span>The topics below will help the Server Developer get started.</span></h5>
    <div class="guide-container">
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_wizard.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="guide-step">1</div>
                        <div>
                            <b>Use the Project Wizard</b>
                            <p>
                                Choose from a list of sample services, provide your own APIs, and receive a Magnet
                                App Project Profile (.mapp) that can be used to generate your mobile app project files.
                            </p>
                            <a href="/dev/" class="btn">Go to Project Wizard</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-divider">
            <img src="../images/getstarted/gtsrtd_act_dots.png" />
        </div>
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_tool.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="guide-step">2</div>
                        <div id="acc-server-2" class="accordion">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#acc-server-2" href="#acc-server-2-inner">
                                        <b>Install and Run the Magnet Mobile App Builder Tool</b>
                                        <i class="icon icon-chevron-down"></i>
                                    </a>
                                    <p>Using your Magnet Mobile App Project Profile (.mapp), the Magnet Mobile App Builder Tool creates the mobile
                                        and server project files to be used for development.</p>
                                </div>
                                <div id="acc-server-2-inner" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <h5>Software required by the Mobile App Builder Tool:</h5>
                                        <ol>
                                            <li>Groovy 2.0 and above </li>
                                            <li>Java 7</li>
                                            <li>Maven 3.0.5 </li>
                                            <li>MySQL Community Server 5.5 GA</li>
                                        </ol>
                                        <h5>How to install the  Mobile App Builder Tool:</h5>
                                        <ol>
                                            <li>Download the <a target="_blank" href="/resources/files/mab.zip">Magnet Mobile App Builder Tool</a>.</li>
                                            <li>Unzip the archive to a directory of your choice. We recommend <b>$HOME/magnet</b>.</li>
                                            <li>
                                                For the Mobile App Builder Tool to be accessible from any directory, consider adding
                                                <b>&lt;install-directory&gt;/mab/bin</b> to your PATH environment variable.
                                            </li>
                                        </ol>
                                        <p>For detailed installation instructions, see the <a href="/docs/">Magnet Mobile App Builder Tool User Manual</a></p>

                                        <h5>Basic commands to get you started with the Mobile App Builder Tool.</h5>
                                        <div class="code-snippet">
                                            <p>Run the Tool in non-interactive mode by invoking <b>mab</b> with a command as an argument. The command (and any of its options and arguments) will be executed.</p>
                                            <pre>$ mab project-use myfirstproject</pre>
                                            <p>Run the Tool in interactive mode, allowing commands to be entered at the prompt until you exit the Tool. The commands below assume that the Tool was run in interactive mode.</p>
                                            <pre>$ mab</pre>
                                            <p>Use the <b>help</b> command to see the list of commands currently supported and get information about a particular command.</p>
                                            <pre>mab> help</pre>
                                            <p>Login using your Developer Factory username and password to enable all the features of the Tool.</p>
                                            <pre>mab> login -u newuser -p userpass</pre>
                                            <p>Create a project using the Mobile App Project Profile you downloaded above.</p>
                                            <pre>mab> project-create -o target/test -p src/test/resources/entities.magnet</pre>
                                            <p>Build the project.</p>
                                            <pre>mab> project-build</pre>
                                            <p>Initialize the database.</p>
                                            <pre>mab> db-initialize</pre>
                                        </div>
                                        <p>For more information, see the <a href="/docs/">Magnet Mobile App Builder Tool User Manual</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-divider">
            <img src="../images/getstarted/gtsrtd_act_dots.png" />
        </div>
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_java.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="guide-step">3</div>
                        <div>
                            <b>Build your Magnet Mobile App Server Runtime</b>
                            <p>Using the project files created by the Magnet Mobile App Builder Tool, develop your Magnet Mobile App
                                Server Runtime.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-divider">
            <img src="../images/getstarted/gtsrtd_act_dots.png" />
        </div>
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_mmas.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="guide-step">4</div>
                        <div id="acc-server-4" class="accordion">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#acc-server-4" href="#acc-server-4-inner">
                                        <b>Run your Magnet Mobile App Server Runtime</b>
                                        <i class="icon icon-chevron-down"></i>
                                    </a>
                                    <p>Deploy your Magnet Mobile App Server Runtime to your local environment or to the cloud.</p>
                                </div>
                                <div id="acc-server-4-inner" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <h5>Magnet Mobile App Builder Tool server commands</h5>
                                        <p>The following commands assume that the project is built (using the <b>project-build</b> command).</p>
                                        <div class="code-snippet">
                                            <p>Distributes the app bits to the current cloud instance. For cloud deployment, the cloud instance must
                                            have first been created (using the <b>cloud-create</b> command).</p>
                                            <pre>mab> server-deploy</pre>
                                            <p>Start the server locally or in the current cloud instance.</p>
                                            <pre>mab> server-start</pre>
                                            <p>Displays a &quot;tail&quot; of the server log running locally or in the current cloud instance.</p>
                                            <pre>mab> server-log</pre>
                                            <p>Stop the server that is running locally or in the current cloud instance.</p>
                                            <pre>mab> server-stop</pre>
                                            <p>Specify whether to use the local our cloud server associated with the current project. If an argument
                                            is not specified, it will display the current server target environment.</p>
                                            <pre>mab> server-use</pre>
                                        </div>
                                        <h5>Provision and deploy a cloud server on AWS</h5>
                                        <div class="code-snippet">
                                            <p>1. Establish the credentials for connecting to the developer's cloud account and verify that they function properly.</p>
                                            <pre>mab> cloud-login -a "AKIAIO2JM4EVCJUGXNBQ" -s "vLt+/fZpvxLO5aO3AqSPglFfomcNkAAanMZjQwQq"</pre>
                                            <p>2. Create (provisions) a cloud instance</p>
                                            <pre>mab> cloud-create</pre>
                                            <p>3. List available cloud instances.</p>
                                            <pre>mab> cloud-list</pre>
                                            <p>4. Add a cloud module to the current cloud instance.</p>
                                            <pre>mab> cloud-config</pre>
                                            <p>5. Change the context to the specified cloud instance.</p>
                                            <pre>mab> server-use cloud</pre>
                                            <p>6. Distributes the app bits to the current cloud instance.</p>
                                            <pre>mab> server-deploy</pre>
                                            <p>7. Initialize the database.</p>
                                            <pre>mab> db-initialize aws</pre>
                                            <p>8. Start the server in the current cloud instance.</p>
                                            <pre>mab> server-start</pre>
                                        </div>
                                        <p>For more information, see the <a href="/docs/">Magnet Mobile App Builder Tool User Manual</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-divider">
            <img src="../images/getstarted/gtsrtd_act_dots.png" />
        </div>
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_extend.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="guide-step">5</div>
                        <div>
                            <b>Extend your Magnet Mobile App Server Runtime</b>
                            <p>Check the existing controllers and learn how to add your own custom controllers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane active" id="gs-android">
    <h5>Android Developer <span>The topics below will help the Android Developer get started.</span></h5>
    <div class="guide-container">
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_android.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div id="acc-android-1" class="accordion">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#acc-android-1" href="#acc-android-1-inner">
                                        <b>Start With Magnet Jumpstart App</b>
                                        <i class="icon icon-chevron-down"></i>
                                    </a>
                                    <p>Get started quickly and use the Jumpstart App as a template for your development
                                    by downloading the Android Jumpstart App from GitHub.</p>
                                </div>
                                <div id="acc-android-1-inner" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <h5>Downloading the Android Jumpstart App from GitHub.</h5>
                                        <ol>
                                            <li>
                                                Download and install Git from the <a href="http://git-scm.com/" target="_blank">Git website</a>.
                                            </li>
                                            <li>
                                                <p>From <b>Terminal</b>, navigate to the directory where you would like to install the
                                                Jumpstart App and clone the Jumpstart App using the following command.</p>
                                                <pre>$ git clone git@github.com:magnetsystems/jumpstart-android.git --recursive</pre>
                                            </li>
                                            <li>
                                                <p>To test round-trip connectivity between the server and client, run the Jumpstart
                                                    App and login to app using the credentials below. The Jumpstart app is preconfigured
                                                    to connect with a Jumpstart server app hosted by Magnet on AWS.</p>
                                                <b>Username:</b> snowman<br />
                                                <b>Password:</b> jumper
                                            </li>
                                        </ol>
                                        <h5>Add custom Magnet API libraries</h5>
                                        <ol>
                                            <li>Copy custom Magnet API libraries to &quot;./libs&quot; directory. This is
                                                typically generated from a local server build provided by your server team.
                                            </li>
                                            <li> Regenerate Magnet platform service mapping library using shell script, &quot;install-lib.sh&quot;:<br />
                                                <pre>sh ./sdk-submodule/magnet-sdk-android-2.1.0-SNAPSHOT/magnet-tools/install-lib.sh ./sdk-submodule/magnet-sdk-android-2.1.0-SNAPSHOT &lt;project-dir&gt;/libs</pre>
                                            </li>
                                        </ol>
                                        <p><b>IMPORTANT:</b> It's highly recommended that you make a backup copy of the original &quot;./libs&quot;
                                            directory before introducing a new API library to &quot;libs&quot; directory.</p>

                                        <p>For more information, visit the <a target="_blank" href="https://github.com/magnetsystems/jumpstart-android">
                                            Android Jumpstart App GitHub Project</a>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-divider-empty"></div>
        <div class="guide-row odd">
            <img src="../images/getstarted/gtstrtd_act_eclps.png" />
            <div class="guide-content">
                <div class="row-fluid">
                    <div class="span9">
                        <div id="acc-android-2" class="accordion">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#acc-android-2" href="#acc-android-2-inner">
                                        <b>Start With my Own App</b>
                                        <i class="icon icon-chevron-down"></i>
                                    </a>
                                    <p>The Magnet Android SDK provides various Magnet features. Learn how
                                    to import the Magnet Android SDK into your own Android app to leverage
                                    Magnet Mobile Server features.</p>
                                </div>
                                <div id="acc-android-2-inner" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <h5>Importing the Magnet Android SDK into your own Android app</h5>
                                        <ol>
                                            <li>
                                                Download and install Git from the <a href="http://git-scm.com/" target="_blank">Git website</a>.
                                            </li>
                                            <li>
                                                <p>Import the git submodule into your project.</p>
                                                <pre>$ I NEED THIS COMMAND</pre>
                                            </li>
                                            <li>
                                                <p>Initialize the Git submodule.</p>
                                                <pre>$ git submodule update --init</pre>
                                            </li>
                                            <li>
                                                <p>Get the latest version of the SDK.</p>
                                                <pre>$ git submodule update --remote</pre>
                                            </li>
                                        </ol>

                                        <h5>Add custom Magnet API libraries</h5>
                                        <ol>
                                            <li>Copy custom Magnet API libraries to &quot;./libs&quot; directory. This is
                                                typically generated from a local server build provided by your server team.
                                            </li>
                                            <li> Regenerate Magnet platform service mapping library using shell script, &quot;install-lib.sh&quot;:<br />
                                                <pre>sh ./sdk-submodule/magnet-sdk-android-2.1.0-SNAPSHOT/magnet-tools/install-lib.sh ./sdk-submodule/magnet-sdk-android-2.1.0-SNAPSHOT &lt;project-dir&gt;/libs</pre>
                                            </li>
                                        </ol>
                                        <p><b>IMPORTANT:</b> It's highly recommended that you make a backup copy of the original &quot;./libs&quot;
                                            directory before introducing a new API library to &quot;libs&quot; directory.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>