<div id="learnmore" class="row-fluid">
    <div class="clearfix page-view">
        <h4>IT Administrators</h4>

        <div class="row-fluid">

            {{ if(typeof registerPanel != 'undefined' && typeof sessionUser == 'undefined'){ }}
            <div class="span9 content">
                {{ } }}

                <img class="learnmore-mainimg" src="/images/learnmore/factory-itadmins.png" alt="it admins main flow" />

                <p>After the development teams have done their work, you get to make it all come together. Your job is not only to configure and deploy the Mobile App Server Runtime in the cloud, but also ensure that it will be able to handle the workload from all the users of the new mobile app.</p>

                <p>Furthermore, if the new mobile app was built for your company's own employees, you need to figure out how to distribute this app to those users.</p>

                <strong>Get everything that you need to make this all happen:</strong><br />
                <ul>
                    <li>The Mobile App Server Runtime contains all the server-side components necessary to deploy into a cloud-based environment that's managed directly by you</li>
                    <li>You can easily configure the desired scaling and availability groups for this Mobile App Server Runtime along with setting up the necessary security groups and virtual private cloud settings to connect to your enterprise infrastructure</li>
                    <li>Deploy the Mobile App Manager in the same cloud environment to manage the distribution of the mobile apps to your company's employees</li>
                </ul>

            {{ if(typeof registerPanel != 'undefined' && typeof sessionUser == 'undefined'){ }}
            </div>
            {{- registerPanel }}
            {{ } }}

        </div>


    </div>
</div>