<div id="learnmore" class="row-fluid">
    <div class="clearfix page-view">
        <h4>Server Developers</h4>

        <div class="row-fluid">

            {{ if(typeof registerPanel != 'undefined' && typeof sessionUser == 'undefined'){ }}
            <div class="span9 content">
                {{ } }}

                <img class="learnmore-mainimg" src="/images/learnmore/factory-server.png" alt="server developers main flow" />

                <p>
                    You are part of the team that's building the next great mobile app.  However, your existing enterprise applications don't provide all the capabilities needed for engaging mobile users. Your job is to build new server-side functionality that would support the apps being built by the mobile team.
                </p>

                <strong>From the Developer Factory, you can quickly get going:</strong><br />
                <ul>
                    <li>Use the Java-based Magnet Mobile App Server project that you generate to provide connectivity to the desired enterprise applications and web services</li>
                    <li>Using your favorite IDE, such as Eclipse or IntelliJ, modify the source code to existing controllers, or extend the Mobile App Server to include new controllers and entities that would support new functionality for the mobile apps</li>
                    <li>Build and test the Mobile App Server locally or from within the cloud</li>
                    <li>When fully satisfied, generate the Mobile App SDK that would expose all the new APIs for the added functionality which would then be used by the mobile team to build out their mobile apps</li>
                </ul>

            {{ if(typeof registerPanel != 'undefined' && typeof sessionUser == 'undefined'){ }}
            </div>
            {{- registerPanel }}
            {{ } }}

        </div>


    </div>
</div>