<div id="invitation-container" class="span3 sidebar-hold">
    <div id="request-invitation-begin" class="sidebar01">
        <h2>
            Register
        </h2>
        <ul>
            <li>
                <p>Are you ready to gain full access to our Developer Factory? Click to register.</p>
            </li>
        </ul>
        <div class="form-horizontal">
            <a class="btn btn-primary" href="/login?a=invitation"> Register </a>
        </div>
    </div>
    <div class="sidebar00">
        <h2>
            Developer Factory Login
        </h2>
        <ul>
            <li>
                <p>Do you already have an account? Click to login.</p>
            </li>
        </ul>
        <a href="#" class="show-login-popup btn btn-primary"> Login </a>
    </div>
</div>