    <div id="documentation" class="row-fluid">
        <div class="clearfix page-view">
            <h4>Documentation</h4>

            <p class="subhead">Learn about the nitty-gritty details of developing and enhancing your own mobile apps with these developer guides.
            Search within the documentation using our <a href="/docs/search/">Documentation Search</a>.<p>

            <div class="docs-container clearfix">
                <div class="docs-img">
                    <img src="../images/docs/docs_icon_mab.png" />
                </div>
                <div>
                    <div class="section">
                        <div class="docs-content">
                            <strong>Mobile App Builder Developer Guide</strong>
                        </div>
                        <div class="docs-download">
                            <a href="mobile_app_builder/mobile_app_builder.pdf">Download</a>
                        </div>
                    </div>
                    <div class="section">
                        <div class="docs-content">
                            <strong>Mobile App Builder Release Notes</strong>
                        </div>
                        <div class="docs-download">
                            <a href="mab_release_notes/mab_release_notes.pdf">Download</a>
                        </div>
                    </div>
                    <div class="section">
                        <div class="docs-content">
                            <strong>How to Connect to Salesforce Controller</strong>
                        </div>
                        <div class="docs-download">
                            <a href="howto_connect_salesforce/howto_connect_salesforce.pdf">Download</a>
                        </div>
                    </div>
                    <div class="section">
                        <div class="docs-content">
                            <strong>How to Build a Custom Controller</strong>
                        </div>
                        <div class="docs-download">
                            <a href="howto_build_controller/howto_build_controller.pdf">Download</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="docs-container clearfix">
                <div class="docs-img">
                    <img src="../images/docs/docs_icon_and.png" />
                </div>
                <div>
                    <div class="section">
                        <div class="docs-content">
                            <strong>Android&trade; Developer Guide</strong>
                        </div>
                        <div class="docs-download">
                            <a href="android_developer_guide/">View</a> |
                            <a href="android_developer_guide/android_developer_guide.pdf">Download</a>
                        </div>
                    </div>
                    <div class="section">
                        <div class="docs-content">
                            <strong>Android&trade; API Documentation</strong>
                        </div>
                        <div class="docs-download">
                            <a href="android_client/">View</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="docs-container clearfix">
                <div class="docs-img">
                    <img src="../images/docs/docs_icon_ios.png" />
                </div>
                <div>
                    <div class="section">
                        <div class="docs-content">
                            <strong>iOS&trade; Developer Guide</strong>
                        </div>
                        <div class="docs-download">
                            <a href="ios_developer_guide/">View</a> |
                            <a href="ios_developer_guide/ios_developer_guide.pdf">Download</a>
                        </div>
                    </div>
                    <div class="section">
                        <div class="docs-content">
                            <strong>iOS&trade; API Documentation</strong>
                        </div>
                        <div class="docs-download">
                            <a href="ios_client/">View</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="docs-container clearfix">
                <div class="docs-img">
                    <img src="../images/docs/docs_icon_js.png" />
                </div>
                <div>
                    <div class="section">
                        <div class="docs-content">
                            <strong>Javascript&trade; Developer Guide</strong>
                        </div>
                        <div class="docs-download">
                            <a href="javascript_developer_guide/">View</a> |
                            <a href="javascript_developer_guide/javascript_developer_guide.pdf">Download</a>
                        </div>
                    </div>
                    <div class="section">
                        <div class="docs-content">
                            <strong>Javascript&trade; API Documentation</strong>
                        </div>
                        <div class="docs-download">
                            <a href="javascript_client/">View</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="docs-container clearfix">
                <div class="docs-img">
                    <img src="../images/docs/docs_icon_mas.png" />
                </div>
                <div>
                    <div class="section">
                        <div class="docs-content">
                            <strong>Mobile App Server Developer Guide</strong>
                        </div>
                        <div class="docs-download">
                            <a href="server_developer_guide/">View</a> |
                            <a href="server_developer_guide/server_developer_guide.pdf">Download</a>
                        </div>
                    </div>
                    <div class="section">
                        <div class="docs-content">
                            <strong>Mobile App Server API Documentation</strong>
                        </div>
                        <div class="docs-download">
                            <a href="server_javadocs/">View</a>
                        </div>
                    </div>
                    <div class="section">
                        <div class="docs-content">
                            <strong>Mobile App Server Deployment Guide</strong>
                        </div>
                        <div class="docs-download">
                            <a href="mas_deployment_guide/">View</a> |
                            <a href="mas_deployment_guide/mas_deployment_guide.pdf">Download</a>
                        </div>
                    </div>
                    <div class="section">
                        <div class="docs-content">
                            <strong>Mobile App Server Release Notes</strong>
                        </div>
                        <div class="docs-download">
                            <a href="mas_release_notes/mas_release_notes.pdf">Download</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>