    <div class="row-fluid">
        <div class="clearfix page-view">
            <h4>Documentation</h4>

            <p class="subhead">Learn about the nitty-gritty details of developing and enhancing your own mobile apps with these developer guides:<p>

            <div id="docs-mas-v10">
                <div id="mobile-app-server" class="docs_section_title">
                    <img src="../images/docs/docs_icon_mmas.png" />
                    <div class="title">
                        Mobile App Server
                    </div>
                    <div class="version">
                        Version 2.0
                    </div>
                    <div class="release-notes">
                        <p>Release Notes</p>
                        <a class="resource-path pa-download" href="mas_release_notes/pdf.pdf" target="_blank" title="download release notes"></a>
                    </div>
                </div>
                <div class="doc-title">
                    <div class="col60">
                        Developer Guides
                    </div>
                    <div class="col20">
                        Admin
                    </div>
                </div>
                <div class="horizontal-separator"></div>
                <div class="doc-content">
                    <div class="col20">
                        <div class="head clearfix">
                            <img src="../images/docs/docs_icon_android.png" />
                            <div>
                                <div class="clearfix">
                                    <a class="resource-path pa-viewdocs" href="android_developer_guide/index.html" title="view documentation"></a>
                                    <a class="resource-path pa-download" target="_blank" href="android_developer_guide/pdf.pdf" title="download guide"></a>
                                </div>
                            </div>
                            <div>
                                Android&trade;
                            </div>
                        </div>
                    </div>
                    <div class="col20">
                        <div class="head clearfix">
                            <img src="../images/docs/docs_icon_ios.png" />
                            <div>
                                <div class="clearfix">
                                     <a class="resource-path pa-viewdocs" href="ios_developer_guide/index.html" title="view documentation"></a>
                                     <a class="resource-path pa-download" target="_blank" href="ios_developer_guide/pdf.pdf" title="download guide"></a>
                                </div>
                            </div>
                            <div>
                                iOS&trade;
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="col20">
                        <div class="head clearfix">
                            <img src="../images/docs/docs_icon_html5.png" />
                            <a class="pa-docs" href="html5_developer_guide/index.html" title="view documentation"></a>
                            <a class="resource-path pa-download" href="html5_developer_guide/pdf.pdf" title="download guide"></a>
                            <div>
                                HTML5
                            </div>
                        </div>
                    </div>
                    -->
                    <div class="col20">
                        <div class="head clearfix">
                            <img src="../images/docs/docs_icon_server.png" />
                            <div>
                                <div class="clearfix">
                                     <a class="resource-path pa-viewdocs" href="server_developer_guide/index.html" title="view documentation"></a>
                                     <a class="resource-path pa-download" target="_blank" href="server_developer_guide/pdf.pdf" title="download guide"></a>
                                </div>
                            </div>
                            <div>
                                Mobile App Server
                            </div>
                        </div>
                        <div class="border"></div>
                    </div>
                    <div class="col20">
                        <div class="head clearfix">
                            <img src="../images/docs/docs_icon_server.png" />
                            <div>
                                <div class="clearfix">
                                     <a class="resource-path pa-viewdocs" href="enterprise_server_admin_guide/index.html" title="view documentation"></a>
                                      <a class="resource-path pa-download" target="_blank" href="enterprise_server_admin_guide/pdf.pdf" title="download guide"></a>
                                </div>
                            </div>
                            <div>
                                Mobile App Server
                            </div>
                        </div>

                    </div>
                </div>

                <div class="doc-content radb">
                    <div class="col20">
                        <div class="head clearfix">
                            <img src="../images/docs/docs_icon_android.png" />
                            <div>
                                <div class="clearfix">
                                    <a class="resource-path pa-viewdocs" target="_blank" href="android_client/" title="view documentation"></a>
                                </div>
                            </div>
                            <div>
                                Android&trade; API Documentation
                            </div>
                        </div>
                    </div>
                    <div class="col20">
                        <div class="head clearfix">
                            <img src="../images/docs/docs_icon_ios.png" />
                            <div>
                                <div class="clearfix">
                                    <a class="resource-path pa-viewdocs" target="_blank" href="ios_client/" title="view documentation"></a>
                                </div>
                            </div>
                            <div>
                                iOS&trade; API Documentation
                            </div>
                        </div>
                    </div>
                    <div class="col20">
                        <div class="head clearfix">
                            <img src="../images/docs/docs_icon_server.png" />
                            <div>
                                <div class="clearfix">
                                    <a class="resource-path pa-viewdocs" target="_blank" href="server_javadocs/" title="view documentation"></a>
                                </div>
                            </div>
                            <div>
                                Mobile App Server API Documentation
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="doc-spacer"></div>

            <div id="docs-mam-v10">
                <div id="mobile-app-manager" class="docs_section_title">
                    <img src="../images/docs/docs_icon_mmam.png" />
                    <div class="title">
                        Mobile App Manager
                    </div>
                    <div class="version">
                        Version 2.0
                    </div>
                    <div class="release-notes">
                        <p>Release Notes</p>
                        <a class="resource-path pa-download" href="mam_release_notes/pdf.pdf" target="_blank" title="download release notes"></a>
                    </div>
                </div>
                <div class="doc-title">
                    <div class="col40">
                        End-user Guides
                    </div>
                    <div class="col20">
                        Admin
                    </div>
                </div>
                <div class="horizontal-separator"></div>
                <div class="doc-content radb">
                    <div class="col20">
                        <div class="head clearfix">
                            <img src="../images/docs/docs_icon_android.png" />
                            <div>
                                <div class="clearfix">
                                     <a class="resource-path pa-viewdocs" href="android_end_user_guide/index.html" title="view documentation"></a>
                                     <a class="resource-path pa-download" target="_blank" href="android_end_user_guide/pdf.pdf" title="download guide"></a>
                                </div>
                            </div>
                            <div>
                                Android&trade; Apps@Work mobile app store
                            </div>
                        </div>

                    </div>
                    <div class="col20">
                        <div class="head clearfix">
                            <img src="../images/docs/docs_icon_ios.png" />
                            <div>
                                <div class="clearfix">
                                    <a class="resource-path pa-viewdocs" href="ios_end_user_guide/index.html" title="view documentation"></a>
                                    <a class="resource-path pa-download" target="_blank" href="ios_end_user_guide/pdf.pdf" title="download guide"></a>
                                </div>
                            </div>
                            <div>
                                iOS&trade; Apps@Work mobile app store
                            </div>
                        </div>
                        <div class="border"></div>
                    </div>
                    <div class="col20">
                        <div class="head clearfix">
                            <img src="../images/docs/docs_icon_console.png" />
                            <div>
                                <div class="clearfix">
                                    <a class="resource-path pa-viewdocs" href="app_manager_console/index.html" title="view documentation"></a>
                                    <a class="resource-path pa-download" target="_blank" href="app_manager_console/pdf.pdf" title="download guide"></a>
                                </div>
                            </div>
                            <div>
                                Mobile App Manager
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>