<div id="documentation" class="row-fluid">
    <div class="clearfix page-view">
        <h4>Documentation</h4>

        <p class="subhead">Find documents in our documentation library.<p>

        <label for="docs-search-input">What are you looking for?</label>
        <input type="text" id="docs-search-input" name="docs-search-input" placeholder="Keywords" />
        <button class="btn" id="docs-search-btn">Search</button>

        <div id="docs-search-results"></div>

    </div>
</div>