<div id="documentation" class="row-fluid">
    <div class="clearfix page-view">

        <a href="/docs" class="btn pull-right">Return to Documentation</a>

        <h4>Documentation</h4>

        <p class="subhead">Find documents in our documentation library.<p>

        <div class="search-input-container">
            <input type="text" id="docs-search-input" name="docs-search-input" placeholder="Enter Search Terms" />
            <button class="btn" id="docs-search-btn">Search</button>
        </div>

        <div id="docs-search-results"></div>

    </div>
</div>